<div class="container">
  <h2 translate>reservation.reservations</h2>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" [placeholder]="'common.filter' | translate">
  </mat-form-field>
  <mat-form-field>
    <mat-select [placeholder]="'common.status' | translate" [(ngModel)]="statusFilter" (selectionChange)="statusFilterChanged()">
      <mat-option [value]="ReservationStatus.CONFIRMED">{{ 'enum.ReservationStatus.CONFIRMED' | translate }}</mat-option>
      <mat-option>{{'common.all' | translate}}</mat-option>
    </mat-select>
  </mat-form-field>
  <table *ngIf="dataSource.data.length > 0" mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="reservationNo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'reservation.number' | translate}}</th>
      <td mat-cell *matCellDef="let reservation">
        <a routerLink="{{reservation.id}}">{{reservation.reservationNo}}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="hotelName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'hotel.hotel' | translate}}</th>
      <td mat-cell *matCellDef="let reservation">
        {{reservation.hotelName}}
      </td>
    </ng-container>

    <ng-container *ngIf="!isCreator()" matColumnDef="creatorType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'reservation.creatorType' | translate}}</th>
      <td mat-cell *matCellDef="let reservation">
        <span>{{(reservation.user && reservation.user.isAgency() ? 'reservation.agency' : 'user.user') | translate}}</span>
      </td>
    </ng-container>

    <ng-container *ngIf="!isCreator()" matColumnDef="creatorName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'reservation.creator' | translate}}</th>
      <td mat-cell *matCellDef="let reservation">
        {{reservation.creatorName}}
      </td>
    </ng-container>

    <ng-container matColumnDef="personName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'reservation.guest' | translate}}</th>
      <td mat-cell *matCellDef="let reservation">
        {{reservation.personName}}
      </td>
    </ng-container>

    <ng-container matColumnDef="checkIn">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'reservation.checkIn' | translate}}</th>
      <td mat-cell *matCellDef="let reservation">
        <span>{{reservation.checkIn | formatDate}}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="checkOut">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'reservation.checkOut' | translate}}</th>
      <td mat-cell *matCellDef="let reservation">
        <span>{{reservation.checkOut | formatDate}}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="nights">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'plural.nights' | translate}}</th>
      <td mat-cell *matCellDef="let reservation">
        <span>{{reservation.nights}}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="rooms">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'hotel.rooms' | translate}}</th>
      <td mat-cell *matCellDef="let reservation">
        <span>{{reservation.rooms}}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'common.price' | translate}}</th>
      <td mat-cell *matCellDef="let reservation">
        <span>{{reservation.price | async}}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'common.status' | translate}}</th>
      <td mat-cell *matCellDef="let reservation">
        <span>{{'enum.ReservationStatus.' + reservation.status | translate}}</span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div class="well" style="text-align: center" *ngIf="dataSource.data.length === 0">{{'reservation.noReservations' | translate}}</div>
</div>
