<div class="container">
  <h3><a routerLink="..">{{'category.categories' | translate}}</a> / {{category.id ? (category | translateField : 'name') : ('category.newCategory' | translate) }}</h3>
  <form (submit)="save()">
    <div style="text-align: center">
      <mat-form-field>
        <mat-select name="language" [placeholder]="'common.dataLanguage' | translate" [(ngModel)]="languageId">
          <mat-option *ngFor="let language of languages" [value]="language.id">
            {{language.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="border-panel category-info">
      <mat-form-field>
        <input appAutoFocus matInput [placeholder]="'common.name' | translate" name="name" [(ngModel)]="categoryTranslation.name" required>
        <mat-error *ngIf="!categoryTranslation.name">{{'message.enter' | translate : {field: 'common.name' | translate} }}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-select name="type" [placeholder]="'common.type' | translate" [(ngModel)]="category.type">
          <mat-option *ngFor="let type of types" [value]="type">
            {{'enum.CategoryType.' + type | translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-checkbox name="halal" class="margin" [(ngModel)]="category.halal">{{'category.halal' | translate}}</mat-checkbox>
      <mat-checkbox name="filter" class="margin" [(ngModel)]="category.filter">{{'common.filter' | translate}}</mat-checkbox>

      <div class="block">
        <mat-form-field>
          <textarea matInput name="desc" [placeholder]="'common.description' | translate" [(ngModel)]="categoryTranslation.description"></textarea>
        </mat-form-field>
      </div>
    </div>

    <app-facility-list [category]="category" [languageId]="languageId"></app-facility-list>
    <button type="submit" mat-stroked-button color="primary">{{'common.save' | translate}}</button>
    <button type="button" *ngIf="category.id" mat-stroked-button color="warn" (click)="delete()">{{'common.delete' | translate}}</button>
  </form>
</div>
