<div *ngIf="reservation" class="reservation container">
  <div class="row border-panel">
    <div class="col-3">
      <div class="row">
        <app-book-summary [reservation]="reservation" [hotelSearchQuery]="hotelSearchQuery"></app-book-summary>
      </div>
    </div>
    <div class="col-9">
      <app-hotel-list-item class="hotel-header" [readonly]="true" [hotel]="hotel"></app-hotel-list-item>
      <div class="reservation-step">
        <div class="room-cards">
          <h2 translate>hotel.rooms</h2>
          <div class="well max-child-age-info" *ngIf="hotelSearchQuery.childCount">
            <span style="color: red; margin-right: 5px">*</span>
            <span translate [translateParams]="{maxChildAge: hotel.maxChildAge}">message.maxChildAge</span>
          </div>
          <app-hotel-room-card *ngFor="let roomReservation of reservation.roomReservations"
                               [room]="reservation.hotel.findRoomById(roomReservation.alternative.roomId)"
                               [onlySelectedAlternatives]="true"
                               [reservation]="reservation"
                               [roomReservation]="roomReservation"
                               [changeAlternativeCounts]="false"
           ></app-hotel-room-card>
        </div>
        <div class="reservation-details" *ngIf="currentStep === reservationStep.DETAILS">
          <form (submit)="savePerson()" class="border-panel">
            <h3 translate>reservation.personalDetails</h3>
            <div>
              <mat-form-field>
                <input matInput name="name" [placeholder]="'common.name' | translate" [(ngModel)]="reservation.person.name" required
                       maxlength="50">
                <mat-error *ngIf="!reservation.person.name">{{'message.enter' | translate : {field: 'common.name' | translate} }}</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input matInput name="lastName" [placeholder]="'person.lastName' | translate" [(ngModel)]="reservation.person.lastName"
                       required maxlength="50">
                <mat-error *ngIf="!reservation.person.name">{{'message.enter' | translate : {field: 'person.lastName' | translate} }}</mat-error>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <input matInput name="email" [placeholder]="'person.email' | translate" required email [formControl]="emailControl"
                       [maxlength]="50">
                <mat-error *ngIf="!emailControl.valid && emailControl.hasError('required')">{{'message.enter' | translate : {field: 'person.email' | translate} }}</mat-error>
                <mat-error *ngIf="!emailControl.valid && !emailControl.hasError('required')">{{'message.invalidEmail' | translate}}</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input matInput type="text" name="phoneNumber" [placeholder]="'person.phone' | translate" [(ngModel)]="reservation.person.phoneNumber" mask="(000) 000 00 00" minlength="10">
                <mat-error *ngIf="reservation.person.phoneNumber && reservation.person.phoneNumber.length < 10">{{'message.enterPhone' | translate}}</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input matInput type="text" name="country" [placeholder]="'person.country' | translate" [(ngModel)]="reservation.person.country" required>
                <mat-error *ngIf="!reservation.person.country">{{'message.enter' | translate : {field: 'person.country' | translate} }}</mat-error>
              </mat-form-field>
            </div>
            <div class="block">
              <mat-form-field>
                <textarea name="specialRequests" matInput cdkTextareaAutosize
                          cdkAutosizeMinRows="2"
                          cdkAutosizeMaxRows="15" [placeholder]="'reservation.specialRequests' | translate"
                          [(ngModel)]="reservation.specialRequests"></textarea>
              </mat-form-field>
            </div>
            <button type="submit" mat-stroked-button color="primary"> {{'payment.payment' | translate}} >> </button>
          </form>
        </div>
        <div class="reservation-payment" *ngIf="currentStep === reservationStep.PAYMENT">
          <app-payment-detail #paymentDetail></app-payment-detail>
          <button [disabled]="!paymentDetail.valid" type="submit" mat-stroked-button color="primary" (click)="saveCreditCard()"> {{'reservation.complete' | translate}} >> </button>
          <button type="button" mat-stroked-button color="primary" (click)="prevStep()"> << {{'reservation.personalDetails' | translate}} </button>
        </div>
        <div class="reservation-complete" *ngIf="currentStep === reservationStep.COMPLETE">
          <h2 translate>reservation.completed</h2>
          <p translate>reservation.number</p>
          <strong>{{reservation.reservationNo}}</strong>
        </div>
      </div>
    </div>
  </div>
</div>
