app-book-summary {
  width: 100%;
}

.form-control{
  font-size: 1rem;
  line-height: 1;
  padding: .250rem .250rem;
}

button {
  margin: 0 auto;
  display: block;
}

.reservation-step {
  button {
    float: right;
    margin: 20px 0 20px 10px;
  }
}

.mat-form-field {
  margin: 0 10px;
}

div.block .mat-form-field {
  width: 75%;
}
