<div class="border-panel">
  <h3 translate>payment.cardDetails</h3>
  <mat-form-field class="full-width">
    <input name="name" matInput [placeholder]="'payment.cardholderName' | translate" [(ngModel)]="name" required maxlength="50">
    <mat-error *ngIf="!name">{{'message.enter' | translate : {field: 'payment.cardholderName' | translate} }}</mat-error>
  </mat-form-field>
  <ngx-stripe-card [options]="cardOptions" [elementsOptions]="elementsOptions" (change)="cardUpdated($event)" (error)="error = $event"></ngx-stripe-card>
  <div class="error">
    {{error?.message}}
  </div>
</div>
