div.review-score {
  h2 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #666;
  }
  .score-button {
    text-align: center;
    font-size: 32px;
    color: darkgray;
    cursor: pointer;
  }
  .score-button:hover, .score-button.selected {
    background: #e5f0ff !important;
    color: #007bff;
  }
  margin: 20px;
}
