<div class="review-score">
  <h2>{{title}}</h2>
  <div class="row">
    <div class="col score-button" (click)="setScore(ReviewScore.POOR)" [class.selected]="score === ReviewScore.POOR"><i class="far fa-frown"></i></div>
    <div class="col score-button" (click)="setScore(ReviewScore.AVERAGE)" [class.selected]="score === ReviewScore.AVERAGE"><i class="far fa-meh"></i></div>
    <div class="col score-button" (click)="setScore(ReviewScore.GOOD)" [class.selected]="score === ReviewScore.GOOD"><i class="far fa-smile"></i></div>
    <div class="col score-button" (click)="setScore(ReviewScore.GREAT)" [class.selected]="score === ReviewScore.GREAT"><i class="far fa-grin"></i></div>
  </div>
</div>
