.col {
  padding: 5px 0;
}

.row {
  margin: 0;
}

.hotel-list {
  padding: 5px;
}

/deep/ .hotel-list .hotel-list-item:hover {
  background: #e9f0fa;
  border-color: #5bbaff;
  box-shadow: 0 0 10px #5bbaff;
}

.modal-body {
  padding: 5px;
  margin-top: -50px;
}

.modal-header {
  padding: 4px 8px;
}

.close {
  z-index: 10;
  margin: 0 0 0 auto;
  padding: 0;
  outline: none;
}

.sort-panel .btn.focus {
  box-shadow: none;
}

.sort-panel .btn {
  min-width: 100px;
  border: 1px solid #001f4c;
}

.sort-panel {
  padding-left: 5px;
}
