<div class="hotels container">
  <app-search-hotel></app-search-hotel>
  <div *ngIf="hotels && hotels.length" class="row border-panel">
    <div class="col-3 col">
      <div class="row">
        <div class="col filter-panel border-panel">
            <app-filter-group *ngFor="let group of filterGroups" [filterGroup]="group"></app-filter-group>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col sort-panel btn-group btn-group-toggle" ngbRadioGroup [(ngModel)]="sortType" (change)="sortTypeChanged()">
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" [value]="sortTypes.PRICE" (click)="toggleSortType()" [disabled]="!showPrice">
            <span translate>common.price</span>
            <span>{{getDirectionSymbol(sortTypes.PRICE)}}</span>
          </label>
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" [value]="sortTypes.STAR" (click)="toggleSortType()">
            <span translate>hotel.star</span>
            <span>{{getDirectionSymbol(sortTypes.STAR)}}</span>
          </label>
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" [value]="sortTypes.REVIEW" (click)="toggleSortType()">
            <span translate>review.score</span>
            <span>{{getDirectionSymbol(sortTypes.REVIEW)}}</span>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col hotel-list">
          <app-hotel-list-item *ngFor="let hotel of hotels | hotelFilter: filterGroups | hotelSort : sortType : asc"
                               [hotel]="hotel"
                               [showPrice]="showPrice"
                               (mapSelected)="onMapSelected($event, content)"></app-hotel-list-item>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #content let-dismiss="close">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-map class="col" [lon]="selectedHotel.address.lon" [lat]="selectedHotel.address.lat"></app-map>
  </div>
</ng-template>
