ol {
  margin: 0;
  padding: 0;
  counter-reset: li;
  list-style: none;
  li {
    margin-bottom: 30px;
    h2 {
      font-size: 18px;
      line-height: 20px;
      font-weight: 700;
      color: black;
      margin-bottom: 10px;
    }
  }
}

mat-radio-button {
  display: block;
  line-height: 20px;
  padding: 2px;
}

ol li h2::before {
  content: counter(li) ". ";
  counter-increment: li;
}

h5 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: black;
  margin-bottom: 10px;
}

.like-dislike {
  textarea {
    line-height: 20px;
    font-size: 14px;
    text-align: justify;
  }
  fieldset {
    margin: 20px;
  }
}

#hotel-image {
  width: 100%;
  height: 250px;
  position: relative;
  margin-bottom: 20px;
  #hotel-info {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 32px 16px 16px;
    color: #fff !important;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,0.4) 30%,rgba(0,0,0,0.7) 100%);
    #hotel-name {
      font-size: 20px;
      font-weight: 500;
      line-height: 28px;
      margin: 0;
      padding: 0;
    }
    #duration, #dates {
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
    }
  }
}

mat-checkbox {
  display: block;
}

button {
  margin-top: 30px !important;
}
