<div class="container">
  <div id="hotel-image" [style.background-image]="'url(' + reservation.hotel.getPrimaryPhotoUrl() + ')'">
    <div id="hotel-info">
      <div id="hotel-name">{{reservation.hotel | translateField : 'name'}}</div>
      <div id="duration">{{reservation.nightCount | plural: ('plural.night' | translate ): ('plural.nights' | translate)}} - {{reservation.hotel.address | translateField : 'city'}}</div>
      <div id="dates">{{[reservation.checkIn, reservation.checkOut] | formatDate}}</div>
    </div>
  </div>
  <ol>
    <li>
      <h2 translate>review.purpose</h2>
      <fieldset>
        <mat-radio-group [(ngModel)]="review.purpose">
          <mat-radio-button [value]="ReviewPurposeType.BUSINESS">{{'enum.ReviewPurposeType.BUSINESS' | translate}}</mat-radio-button>
          <mat-radio-button [value]="ReviewPurposeType.ENTERTAINMENT">{{'enum.ReviewPurposeType.ENTERTAINMENT' | translate}}</mat-radio-button>
          <mat-radio-button [value]="ReviewPurposeType.OTHER">{{'enum.ReviewPurposeType.OTHER' | translate}}</mat-radio-button>
        </mat-radio-group>
      </fieldset>
      <fieldset>
        <h5 translate>review.travelWith</h5>
        <mat-checkbox [(ngModel)]="review.travelWith.alone" (change)="aloneSelected()">{{'enum.travelWith.alone' | translate}}</mat-checkbox>
        <mat-checkbox [(ngModel)]="review.travelWith.friends" (change)="companySelected($event.checked)">{{'enum.travelWith.friends' | translate}}</mat-checkbox>
        <mat-checkbox [(ngModel)]="review.travelWith.partner" (change)="companySelected($event.checked)">{{'enum.travelWith.partner' | translate}}</mat-checkbox>
        <mat-checkbox [(ngModel)]="review.travelWith.family" (change)="companySelected($event.checked)">{{'enum.travelWith.family' | translate}}</mat-checkbox>
        <mat-checkbox [(ngModel)]="review.travelWith.colleague" (change)="companySelected($event.checked)">{{'enum.travelWith.colleague' | translate}}</mat-checkbox>
        <mat-checkbox [(ngModel)]="review.travelWith.pet">{{'enum.travelWith.pet' | translate}}</mat-checkbox>
      </fieldset>
    </li>
    <li class="rate-property">
      <h2 translate>review.rate</h2>
      <app-review-scores [title]="categoryScore.category | translateField : 'name'" *ngFor="let categoryScore of review.categoryScores" [(score)]="categoryScore.score"></app-review-scores>
    </li>
    <li class="like-dislike">
      <h2 translate>review.littleMore</h2>

      <fieldset>
        <h5><i class="far fa-grin"></i> {{'review.whatLike' | translate}}</h5>
        <mat-form-field class="full-width">
          <textarea matInput [placeholder]="'review.likeExample' | translate" [(ngModel)]="review.likeComment" cdkTextareaAutosize cdkAutosizeMinRows="5"></textarea>
        </mat-form-field>
      </fieldset>

      <fieldset>
        <h5><i class="far fa-frown"></i> {{'review.whatDislike' | translate}}</h5>
        <mat-form-field class="full-width">
          <textarea matInput [placeholder]="'review.dislikeExample' | translate" [(ngModel)]="review.dislikeComment" cdkTextareaAutosize cdkAutosizeMinRows="5"></textarea>
        </mat-form-field>
      </fieldset>

      <fieldset>
        <h5 translate>review.summary</h5>
        <mat-form-field class="full-width">
          <input matInput [placeholder]="'review.summaryExample' | translate" [(ngModel)]="review.title">
        </mat-form-field>
      </fieldset>
    </li>
  </ol>
  <mat-checkbox id="include-name-cb" [(ngModel)]="review.includeMyName">{{'review.includeName' | translate}} ({{user.profile.displayName}})</mat-checkbox>

  <button class="center" mat-stroked-button color="primary" (click)="save()">{{'common.save' | translate}}</button>
</div>
