<form (submit)="saveAction()">
  <mat-form-field>
    <input matInput name="name" [placeholder]="'common.name' | translate" [(ngModel)]="translation.name" required>
    <mat-error *ngIf="!translation.name">{{'message.enter' | translate : {field: 'common.name' | translate} }}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput name="iconUrl" [placeholder]="'category.iconUrl' | translate" [(ngModel)]="newFacility.iconUrl">
  </mat-form-field>

  <div class="block">
    <mat-form-field clas>
      <textarea matInput name="description" [placeholder]="'common.description' | translate" [(ngModel)]="translation.description"></textarea>
    </mat-form-field>
  </div>
  <button type="submit" mat-stroked-button color="primary">{{'common.save' | translate}}</button>
  <button *ngIf="facility.id" mat-stroked-button color="warn" (click)="delete.emit(facility)">{{'common.delete' | translate}}</button>
</form>
