<mat-form-field class="price-amount">
  <input name="amount" *ngIf="required" matInput type="number" (change)="changeCurrentValue()" placeholder="{{placeholder}}" required min="0.0000001" [formControl]="amountControl">
  <input *ngIf="!required" matInput type="number" (change)="changeCurrentValue()" placeholder="{{placeholder}}" [(ngModel)]="price.amount">
  <mat-error *ngIf="!isPriceValid()">{{'message.enter' | translate : {field: 'payment.amount' | translate} }}</mat-error>
</mat-form-field>
<span class="price-symbol" *ngIf="!showCurrencies">{{currencyShortName}}</span>
<mat-form-field *ngIf="showCurrencies">
  <mat-select name="currency" [placeholder]="'payment.currency' | translate" [(ngModel)]="price.currency" (selectionChange)="changeCurrentValue()">
    <mat-option *ngFor="let currency of currencies" [value]="currency.code">
      {{currency.shortName}}
    </mat-option>
  </mat-select>
</mat-form-field>


