<div class="registration container">
  <h3><a routerLink="/manage/hotels" translate>hotel.hotels</a> / <a routerLink="../">{{hotel | translateField : 'name'}}</a> / {{room | translateField : 'name'}}</h3>
  <mat-horizontal-stepper [linear]="!isBasicFormValid()" #stepper>
    <mat-step [label]="'common.basic' | translate" [completed]="isBasicFormValid()">
      <form (submit)="saveBasic()">
        <mat-form-field class="full-width">
          <input matInput type="text" name="name" [placeholder]="'common.name' | translate" [(ngModel)]="roomTranslation.name" required maxlength="50">
          <mat-error *ngIf="!roomTranslation.name">{{'message.enter' | translate : {field: 'common.name' | translate} }}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" name="size" placeholder="{{'room.size' | translate}} (m2)" [(ngModel)]="room.size" required minlength="1" mask="000">
          <mat-error *ngIf="!+room.size">{{'message.enter' | translate : {field: 'room.size' | translate} }}</mat-error>
        </mat-form-field>
        <app-editor [(content)]="roomTranslation.description"></app-editor>
        <button type="submit" class="center" mat-stroked-button color="primary">{{'common.save' | translate}}</button>
      </form>
    </mat-step>
    <mat-step [label]="'hotel.photos' | translate">
      <mat-file-upload-queue style="display: block"
                             [maxFileCount]="100 - room.photos.length"
                             (onUpload)="photoUploaded($event)"
                             multiple>
      </mat-file-upload-queue>

      <label class="total-count">{{'hotel.totalPhotos' | translate}}: {{room.photos.length}}</label>
      <hr>

      <div class="photos">
        <div class="file-card" [class.primary]="room.primaryPhotoIndex === i" *ngFor="let photo of room.photos; let i = index">
          <img src="{{photo.getFullUrl}}">
          <div class="icons">
            <a (click)="removePhoto(i)"><i class="fas fa-trash-alt"></i></a>
            <a class="primary-icon" (click)="selectPrimaryPhoto(i)"><i class="far fa-check-circle"></i></a>
          </div>
        </div>
      </div>
      <button class="center" mat-stroked-button color="primary" (click)="saveRoom()">{{'common.save' | translate}}</button>
    </mat-step>
    <mat-step [label]="'category.facilities' | translate">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let category of categories">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{category.getTranslation(languageId, true).name}}
            </mat-panel-title>
            <mat-panel-description *ngIf="category.description">
              {{category.getTranslation(languageId, true).description}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <ul class="facilities">
            <li *ngFor="let facility of category.facilities">
              <mat-checkbox [(ngModel)]="facility.check">
                {{facility.getTranslation(languageId, true).name}}
                <span *ngIf="facility.chargeable"> ({{'hotel.chargeable' | translate}})</span></mat-checkbox>
            </li>
          </ul>
        </mat-expansion-panel>
      </mat-accordion>
      <button class="center" mat-stroked-button color="primary" (click)="saveRoom()">{{'common.save' | translate}}</button>
    </mat-step>
    <mat-step [label]="'room.alternatives' | translate">
      <app-room-alternatives></app-room-alternatives>
    </mat-step>
    <mat-step *ngIf="!hotel.channelManager" [label]="'room.rates' | translate">
      <app-room-rates></app-room-rates>
    </mat-step>
  </mat-horizontal-stepper>
  <button *ngIf="room.id" class="center" mat-stroked-button color="warn" (click)="deleteRoom()">{{'common.delete' | translate}}</button>
</div>


