<div class="container">
  <h2 translate>title.recoverPassword</h2>
  <form (submit)="submit()" #form>
    <mat-form-field>
      <input matInput name="email" type="email" [placeholder]="'person.email' | translate" required email [formControl]="emailControl">
      <mat-error *ngIf="!emailControl.valid && emailControl.hasError('required')">{{'message.enter' | translate : {field: 'person.email' | translate} }}</mat-error>
      <mat-error *ngIf="!emailControl.valid && !emailControl.hasError('required')">{{'message.invalidEmail' | translate}}</mat-error>
    </mat-form-field>
    <div class="form-error-message" *ngIf="formMessage">{{formMessage}}</div>
    <div>
      <button type="submit" mat-stroked-button color="primary">{{'mail.send' | translate}}</button>
    </div>
  </form>
</div>
