<div style="text-align: center">
  <mat-form-field>
    <mat-select name="language" [placeholder]="'common.dataLanguage' | translate" [(ngModel)]="languageId">
      <mat-option *ngFor="let language of languages" [value]="language.id">
        {{language.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<router-outlet></router-outlet>
