<div class="container-fluid">
  <div class="row">
    <div class="col">
      <app-datepicker-popup (dateSelected)="onDateSelected($event)" [label]="'room.interval' | translate"
                            [fromDate]="fromDate" [toDate]="toDate"></app-datepicker-popup>
    </div>
    <div class="col">
      <button mat-stroked-button class="inline-field" color="primary" (click)="show()">{{'common.show' | translate}}</button>
      <div class="col info" translate>message.selectRateDates</div>
    </div>
  </div>

  <form id="changePanel" (submit)="update()" class="border-panel" *ngIf="this.selection.selected.length">
    <app-price [(price)]="updateRate.basePrice" [currency]="hotel.currency"></app-price>
    <mat-form-field class="inline-field">
      <input matInput name="availableRoomCount" type="number" [placeholder]="'room.availableRoomCount' | translate" [(ngModel)]="updateRate.availableRoomCount">
    </mat-form-field>
    <mat-form-field class="inline-field">
      <input matInput name="minNightCount" type="number" [placeholder]="'room.minNightCount' | translate" [(ngModel)]="updateRate.minNightCount">
    </mat-form-field>
    <button type="button" class="inline-field" mat-stroked-button color="primary" (click)="clearForm()">{{'common.clear' | translate}}</button>
    <button type="submit" class="inline-field" mat-stroked-button color="primary">{{'common.update' | translate}}</button>
  </form>

  <div id="rates">
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>{{'common.date' | translate}}</th>
        <td mat-cell *matCellDef="let element"> {{element.date | formatDate : 'fullDate'}}</td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> {{'common.price' | translate}}</th>
        <td mat-cell *matCellDef="let element"> {{element.basePrice ? (element.basePrice | price : false | async) : '-'}}</td>
      </ng-container>

      <ng-container matColumnDef="availableRoomCount">
        <th mat-header-cell *matHeaderCellDef> {{'room.availableRoomCount' | translate}}</th>
        <td mat-cell *matCellDef="let element"> {{element.availableRoomCount ? element.availableRoomCount : '-'}}</td>
      </ng-container>

      <ng-container matColumnDef="minNightCount">
        <th mat-header-cell *matHeaderCellDef> {{'room.minNightCount' | translate}}</th>
        <td mat-cell *matCellDef="let element"> {{element.minNightCount ? element.minNightCount : '-'}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          (click)="selection.toggle(row)">
      </tr>
    </table>
  </div>
</div>
