<i class="fas fa-times-circle" (click)="close()"></i>
<ngb-carousel *ngIf="photos" [showNavigationIndicators]="false" #carousel data-interval="false" (slide)="imageChangedAction()">
  <ng-template ngbSlide  *ngFor="let photo of photos; index as selectedThumbnailIndex" >
    <span class="helper"></span>
    <img [src]="photo.getFullUrl" class="gallery-image" (click)="imageClickedAction($event)" >
  </ng-template>
</ngb-carousel>
<div class="gallery-index-caption">
  {{getSelectedIndex() + 1 }} / {{photos.length}}
</div>
<ul class="thumbnail-list">
  <li *ngFor="let photo of photos;let i = index"  >
    <img src="{{photo.getFullUrl}}"
         [class.selected] = "getSelectedIndex() === i"
         class="thumbnail"
         (click)=select(i) (mouseover)="select(i)">
  </li>
</ul>
