i.fas.fa-times-circle {
  font-size: 35px;
  color: lightgray;
  position: absolute;
  right: 0;
  cursor: pointer;
  z-index: 100;
  display: none;
}

ul {
  padding: 0;
}

li {
  display: inline-table
}

ngb-carousel {
  width: 100%;
  height: 460px;
  outline: none;
}

/deep/ app-carousel-with-thumbails .carousel-inner {
  height: 100%;
}

.gallery-image {
  cursor: pointer;
  max-width: 100%;
  max-height: 460px;
  width: auto;
  height: auto;
  margin: 0 auto;
  display: block;
}

.thumbnail.selected {
  border-style: solid;
  border-color: blue;
  border-width: 3px;
  opacity: 0.4;
  transition: opacity 0.3s;
}

.thumbnail {
  margin: 2px 0;
  box-shadow: #999 1px 1px 3px 1px;
  opacity: 1;
  width: 40px;
  height: 40px;
}

.carousel-thumbnail {
  list-style-type: none;
  padding: 0;
  margin: 1rem 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/deep/ app-carousel-with-thumbails ngb-carousel img {
  width: 100%;
  border-radius: 5px;
  margin: 5px;
}

.thumbnail-list .thumbnail {
  border-radius: 3px;
  margin: 2px;
}

/deep/ app-carousel-with-thumbails .carousel-item {
  max-height: 100%;
}

/deep/ app-carousel-with-thumbails .carousel-control-prev-icon {
  width: 32px;
  height: 32px;
  background: url('//t-ec.bstatic.com/static/img/experiments/gallery-prev-2/db2a171fef8474e4e2b6c38a73e4f070064af21f.png') no-repeat
}

/deep/ app-carousel-with-thumbails .carousel-control-next-icon {
  width: 32px;
  height: 32px;
  background: url('//s-ec.bstatic.com/static/img/experiments/gallery-next-2/52314eca28af6184cace9e2fec9bfbf61e8a9e0c.png') no-repeat
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.gallery-index-caption {
  display: none;
  color: white;
  text-align: center;
}
.thumbnail-list {
  margin: 0 auto;
  display: table;
}
