<div class="container">
  <h3 translate>room.alternatives</h3>
  <table *ngIf="hasAlternatives()" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>{{'common.no' | translate}}</th>
      <td mat-cell *matCellDef="let i = index"> {{i + 1}}</td>
    </ng-container>

    <ng-container matColumnDef="meal">
      <th mat-header-cell *matHeaderCellDef>{{'alternative.mealOptions' | translate}}</th>
      <td mat-cell *matCellDef="let element">
        <a routerLink="{{element.id}}">{{element.mealOption | mealOption | async}}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="payment">
      <th mat-header-cell *matHeaderCellDef>{{'alternative.paymentOptions' | translate}}</th>
      <td mat-cell *matCellDef="let element">
        <a routerLink="{{element.id}}">{{element.paymentOption | paymentOptions | async}}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="personCount">
      <th mat-header-cell *matHeaderCellDef>{{'room.personCount' | translate}}</th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="element.maxAdult <= 5">
          <i *ngFor="let i of element.maxAdult | numberArray" class="fas fa-user"></i>
        </ng-container>
        <span *ngIf="element.maxAdult > 5" style="margin-left: 10px">{{element.maxAdult | plural : ('plural.adult' | translate) : ('plural.adults' | translate)}}</span>
        <ng-container *ngIf="!!+element.maxChild">
          <span> + </span>
          <ng-container *ngIf="element.maxChild <= 5">
            <i style="font-size: 0.7em" *ngFor="let i of element.maxChild | numberArray" class="fas fa-user"></i>
          </ng-container>
          <span *ngIf="element.maxChild > 5">{{element.maxChild | plural : ('plural.child' | translate) : ('plural.children' | translate)}}</span>
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="basePriceRatio">
      <th mat-header-cell *matHeaderCellDef>{{'room.basePriceRatio' | translate}}</th>
      <td mat-cell *matCellDef="let element">
        <a routerLink="{{element.id}}">{{element.basePriceRatio}}</a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div class="well" style="text-align: center" *ngIf="!hasAlternatives()">{{'alternative.noAlternative' | translate}}</div>
  <button *ngIf="room.id" routerLink="new" class="center" mat-stroked-button color="primary">{{'alternative.newAlternative' | translate}}</button>
</div>
