<div [class.disabled]="newCard">
  <h2 translate>payment.selectCard</h2>
  <mat-radio-group class="enter-card" [(ngModel)]="selectedCardId">
    <mat-radio-button class="card-option" *ngFor="let card of existingCards" [value]="card.id">
      <app-credit-card [card]="card"></app-credit-card>
    </mat-radio-button>
  </mat-radio-group>
</div>
<mat-checkbox *ngIf="existingCards" [(ngModel)]="newCard">{{'payment.enterNewCard' | translate}}</mat-checkbox>
<div *ngIf="newCard">
  <app-stripe #stripe></app-stripe>
</div>
