.form-check-label {
  padding-top: 3px;
  text-decoration: none;
}

.filter-count {
  text-align: right;
}

.filter-checkbox {
  padding: 0 5px 2px 25px;
  line-height: 1.2rem;
  color: #07c;
}

.filter-checkbox:hover {
  border-radius: 3px;
  background-color: #07c;
  color: white;
}
