<div class="form-group" *ngIf="isSuitable()">
  <h6>{{filterGroupName}}</h6>
  <ng-container *ngFor="let filter of filterGroup.filters;let i = index">
    <div class="form-check filter-checkbox" *ngIf="isShowFilter(filter)">
      <input class="form-check-input" type="checkbox" id="{{filterGroup.name + '_' + i}}" [(ngModel)]="filter.checked" (change)="filterChanged(filter)">
      <label class="form-check-label row unselectable" for="{{filterGroup.name + '_' + i}}">
        <span class="filter-name col-9 col">{{filterNames[i]}}</span>
        <span class="filter-count col-3 col" *ngIf="!filter.checked">
          <span *ngIf="isAddable()">+</span>
          {{filter.count}}
        </span>
      </label>
    </div>
  </ng-container>
</div>
