<div class="reservation-summary container scroll-res-summary">
  <div class="row">
    <div class="side-panel">
      <div class="side-panel-header" translate>reservation.details</div>
      <div class="side-inner-panel">
        <p translate>reservation.checkIn</p>
        <span>{{reservation.checkIn | formatDate}}</span>
        <p translate>reservation.checkOut</p>
        <span>{{reservation.checkOut | formatDate}}</span>
        <p translate>reservation.duration</p>
        <span>{{reservation.nightCount | plural : ('plural.night' | translate) : ('plural.nights' | translate)}}</span>
      </div>
      <div class="side-inner-panel">
        <ul class="list-group">
          <li *ngFor="let room of reservation.getReservedRoomList()">
            <span class="room-type">{{room | translateField : 'name'}}</span>
            <span>X {{reservation.getRoomCount(room)}}</span>
          </li>
        </ul>
      </div>
      <div class="side-inner-panel">
        <p translate>reservation.priceSummary</p>
        <p><span>{{reservation.nightCount | plural : ('plural.night' | translate) : ('plural.nights' | translate)}}</span> -
          <span>{{reservation.roomReservations.length | plural : ('plural.room' | translate) : ('plural.rooms' | translate)}}</span>
        </p>
        <span class="total-price">{{reservation.calculateTotalPrice() | price | async}}</span>
      </div>
    </div>
  </div>
</div>


