p {
  margin-top: 0;
  margin-bottom: 4px;
  padding: 0;
}
label {
  margin: 0;
  padding: 0;
}
img {
  width: 270px;
  height: 190px;
  border-radius: 5px;
}

.hotel-name {
  font-weight: bold;
  vertical-align: middle;
  font-size: 16px;
}

h2 {
  text-decoration: none;
  margin: 2px;
}
.hotel-address {
  color: #07c;
}

.hotel-address p {
  text-decoration: underline;
}
ul {
  padding: 0;
  margin-bottom: 10px;
}

li {
  display: inline-table;
  margin-right: 10px;
}

.side-panel {
  border: 1px solid #cce1ff;
  border-radius: 3px;
  margin: 0 0 15px;
  padding: 10px;
  width: 100%;
  .side-panel-header {
    background-color: #e9f0fa;
    border-bottom: 1px solid #cce1ff;
    margin: -10px -10px 5px;
    padding: 10px 10px 8px;
  }
  .side-inner-panel {
    padding: 10px 10px 0;
    margin: -6px -10px 10px;
    border-top: 1px solid #cce1ff;
    p {
      font-weight: bold;
      margin: 0;
      margin-top: 5px;
    }
    span {
      font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
      color: #383838;
    }
    .total-price {
      font-size: 1.4em;
    }
    span.room-type {
      width: 80%;
      display: inline-block;
    }
  }
}

.scroll-res-summary {
  position: fixed;
  width: 16%;
}

