mat-form-field {
  width: 100%;
}

.hotel-name-place div {
  line-height: 1.5rem;
}

.hotel-name {
  color: navy;
}

mat-option {
  color: #001f4c;
  font-weight: lighter;
  border-bottom: 1px solid gainsboro;
}
