<mat-form-field>
  <input matInput [placeholder]="'hotelSearch.place' | translate" aria-label="Place" [matAutocomplete]="auto" [formControl]="searchControl" required>
  <mat-error *ngIf="!searchControl.valid" translate>message.enterPlace</mat-error>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event.option.value)" [autoActiveFirstOption]="true" [displayWith]="displayFn">
    <mat-option *ngFor="let place of filteredPlaces" [value]="place">
      <div class="hotel-name-place" *ngIf="place.hotelName">
        <div class="hotel-name">{{place.hotelName}}</div>
        <div>{{place.toStringWithoutHotelName()}}</div>
      </div>
      <span *ngIf="!place.hotelName">{{place.toString()}}</span>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
