<div class="container">
  <h4 translate>user.users</h4>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" [placeholder]="'common.filter' | translate">
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>{{'common.no' | translate}}</th>
      <td mat-cell *matCellDef="let i = index"> {{i + 1}}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'common.name' | translate}}</th>
      <td mat-cell *matCellDef="let element">
        <a routerLink="/users/{{element.id}}">{{element.name}}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="surname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'person.lastName' | translate}}</th>
      <td mat-cell *matCellDef="let element">
        <a routerLink="/users/{{element.id}}">{{element.surname}}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'person.email' | translate}}</th>
      <td mat-cell *matCellDef="let element">
        <a routerLink="/users/{{element.id}}">{{element.email}}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="roles">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'user.roles' | translate}}</th>
      <td mat-cell *matCellDef="let element">
        <mat-chip-list>
          <mat-chip *ngFor="let role of element.roles">{{role.name}}</mat-chip>
        </mat-chip-list>
      </td>
    </ng-container>

    <ng-container matColumnDef="active">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'common.status' | translate}}</th>
      <td mat-cell *matCellDef="let element">
        <span>{{element.active ? 'Activated' : 'Deactivated'}}</span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <a routerLink="/users/new" mat-stroked-button color="primary" class="new">{{'user.newUser' | translate}}</a>
</div>
