
.row {
  margin: 0;
}

.room-facilities {
  padding-left: 0;
}

.room-facilities li {
  display: inline-block;
}

.room-facility {
  color: green;
  line-height: 1em;
  margin: 0 5px 0 0;
}

.room-alternative {
  margin-bottom: 10px;
}

.col {
  padding: 5px;
}

.price-row {
  width: 100%;
}

.room-count {
  margin-bottom: 0 !important;
  height: initial !important;
}

.room-price {
  font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  color: green;
}

.room-alternative-price {
  text-align: right;
  padding-right: 20px;
  font-weight: bold;
}

.room-alternative-options {
  margin-bottom: 2px;
}

.justify-content-between {
  width: 100%;
}

.show-prices {
  margin-top: 10px;
}

a {
  cursor: pointer;
  text-decoration: none;
}

ngb-carousel {
  width: 100%;
  outline: none;
}

ngb-carousel img {
  width: auto;
  display: block;
  height: 170px;
  margin: 5px auto;
}

.price-row button {
  margin-left: 5px;
}

.room-info.row {
  margin-bottom: 5px;
}

.gallery-col {
  margin: auto;
}

.positive {
  color: #0ab21b;
  font-weight: bold;
}

.rooms-left {
  color: firebrick;
  text-align: right;
}
