<div class="room-card well">
  <div class="row">
    <div class="col-3 col gallery-col">
      <div class="row" >
        <ngb-carousel #carousel *ngIf="room.photos" [showNavigationIndicators]="false" data-interval="false">
          <ng-template ngbSlide  *ngFor="let image of room.photos; let index = index">
            <a (click)="openModal()">
              <img [src]="image.getFullUrl">
            </a>
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
    <div class="col-9 col">
      <div class="well room-info row">
        <div class="row justify-content-between">
          <a (click)="openModal()">
            <h4 class="col">{{room | translateField : 'name'}}</h4>
          </a>
        </div>
        <ul class="row room-facilities">
          <li *ngFor="let facility of room.facilities">
            <span class="room-facility">• {{facility | translateField : 'name'}}</span>
          </li>
        </ul>
      </div>
      <div *ngIf="summary">
        <div class="row room-alternative well " *ngFor="let alternative of alternatives">
          <div class="row align-items-center">
            <div class="col-1">{{reservation.getAlternativeCount(alternative.id)}} X </div>
            <app-person-count class="col col-3" [adultCount]="alternative.maxAdult" [childCount]="alternative.maxChild"></app-person-count>
            <div class="meal-option col col-4" *ngIf="alternative.mealOption.type !== MealOptionType.NOTHING_INCLUDED" [class.positive]="!alternative.mealOption.hasOptionalPrice()">
              {{alternative.mealOption | mealOption | async}}
            </div>
            <app-payment-option class="col" [paymentOption]="alternative.paymentOption" [checkIn]="reservation.checkIn"></app-payment-option>
          </div>
        </div>
      </div>
      <div *ngIf="!summary">
        <div class="row room-alternative well" *ngFor="let alternative of alternatives">
          <div class="row">
            <app-person-count class="col col-md-auto" [adultCount]="alternative.maxAdult" [childCount]="alternative.maxChild"></app-person-count>
            <div class="meal-option col col-md-auto" *ngIf="alternative.mealOption.type !== MealOptionType.NOTHING_INCLUDED" [class.positive]="!alternative.mealOption.hasOptionalPrice()">
              {{alternative.mealOption | mealOption | async}}
            </div>
            <app-payment-option class="col col-md-auto" [paymentOption]="alternative.paymentOption" [checkIn]="reservation.checkIn"></app-payment-option>
            <div class="col rooms-left" translate [translateParams]="{count: room.availableCount | plural : ('plural.room' | translate) : ('plural.rooms' | translate)}">message.roomsLeft</div>
          </div>
          <div *ngIf="reservation.nightCount" class="row price-row justify-content-between">
            <div class="col room-price" translate [translateParams]="{night: reservation.nightCount | plural : ('plural.night' | translate) : ('plural.nights' | translate)}">reservation.nightPrice</div>
            <div class="col col-md-auto room-price room-alternative-price">{{alternative.price | price | async}}</div>
            <select *ngIf="changeAlternativeCounts" class="room-count col-2 col form-control mb-1" (change)="alternativeCountChanged(alternative, $event.target.value)" [value]="reservation.getAlternativeCount(alternative.id)">
              <option *ngFor="let value of 10 | numberArray : onlySelectedAlternatives ? 1 : 0"  [ngValue]="value">{{value}}</option>
            </select>
          </div>
          <div *ngIf="roomReservation" class="row price-row justify-content-between">
            <mat-form-field>
              <mat-select [placeholder]="'room.maxAdult' | translate" [(ngModel)]="roomReservation.adultCount">
                <mat-option *ngFor="let i of alternative.maxAdult | numberArray" [value]="i">
                  {{i}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="alternative.maxChild">
              <mat-select [placeholder]="'room.maxChild' | translate" [(ngModel)]="roomReservation.childCount">
                <mat-option *ngFor="let i of alternative.maxChild | numberArray : 0" [value]="i">
                  {{i}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <button *ngIf="reservation.roomReservations.length > 1" mat-stroked-button color="warn" class="col-md-auto" (click)="removeRoomReservation(roomReservation)">{{'common.remove' | translate}}</button>
          </div>
        </div>
      </div>
      <div *ngIf="!alternatives" class="row justify-content-end">
        <div class="col-auto">
          <button class="show-prices" mat-stroked-button color="primary" [ngbPopover]="'message.showPrices' | translate"
                  placement="right" triggers="hover">
            {{'hotelList.showPrices' | translate}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
