<form (submit)="save(form)" #form>
  <mat-form-field>
    <input matInput name="newPassword" type="password" [placeholder]="'user.newPassword' | translate" required [formControl]="newPasswordControl">
    <mat-error *ngIf="!newPasswordControl.valid">{{'message.enter' | translate : {field: 'user.newPassword' | translate} }}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput name="repeatNewPassword" type="password" [placeholder]="'user.newPassword' | translate" required [formControl]="repeatNewPasswordControl">
    <mat-error *ngIf="!repeatNewPasswordControl.valid">{{'message.enter' | translate : {field: 'user.newPassword' | translate} }}</mat-error>
  </mat-form-field>
  <div class="form-error-message" *ngIf="formMessage">{{formMessage}}</div>
  <button type="submit" class="center" mat-stroked-button color="primary">{{'common.save' | translate}}</button>
</form>
