<agm-map [class.small-map]="zoom>=16" [latitude]="lat" [longitude]="lon" [zoom]="zoom" [streetViewControl]="false" [zoomControl]="false" [fitBounds]="bounds">
  <agm-marker [latitude]="lat" [longitude]="lon"></agm-marker>
</agm-map>
