<div [class.disabled]="isFull()" class="upload-image-container" [fileUploadInputFor]="this">
  <input [disabled]="isFull()" style="display: none" id="input-file-id-{{id}}" multiple type="file" [fileUploadInputFor]="this" accept="image/*"/>
  <label for="input-file-id-{{id}}" class="row justify-content-md-center align-items-center">
    <i class="fas fa-camera col"></i>
    <div class="col">
      <span translate>message.addPhotos</span>
      <span class="drag-drop" translate>message.dragDrop</span>
    </div>
  </label>
</div>

<div class="photos">
  <mat-file-upload [file]="file" *ngFor="let file of files"
                   (removeEvent)="fileRemoved($event)"
                   (onUpload)="fileUploaded($event)">
  </mat-file-upload>
</div>
