.upload-image-container {
  margin: 0 19px 0 0;
  width: 225px;
  height: 105px;
  border-radius: 2px;
  background-color: #f8f8f8;
  display: inline-block;
  border: dashed 2px #ccc;
  .container-disabled {
    opacity: .5;
    pointer-events: none;
    cursor: default;
  }
  label {
    font-size: 14px;
    font-weight: bold;
    color: #438ed8;
    text-align: left;
    line-height: 17px;
    margin-top: 5px;
    margin-left: -20px;
    .col {
      padding: 5px;
    }
    i.fas.fa-camera {
      font-size: 45px;
      margin: auto;
      text-align: right;
    }
    span.col {
      padding: 5px;
      margin-top: auto;
    }
    span.drag-drop {
      height: 15px;
      font-size: 12px;
      color: #999;
    }
  }
}

.photos {
  margin-top: 50px;
}

.disabled {
  opacity: .5;
}
