<div [class.breaker]="!sidenav.opened"></div>
<mat-sidenav-container (backdropClick)="sidenav.close()">
  <mat-sidenav #sidenav (keydown.escape)="sidenav.close()" position="end">
    <app-hotel-reviews [hotel]="hotel"></app-hotel-reviews>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="hotel-detail container">
      <div #searchPanel
           [class.selected-animation]="searchPanelSelected"
           [class.animated]="animated"
           class="search-panel">
        <app-search-hotel></app-search-hotel>
      </div>
      <div class="row border-panel">
        <div class="col-3">
          <div class="row">
            <!--<app-map [zoom]="16" class="col small-map" [lon]="hotel.address.lon" [lat]="hotel.address.lat"></app-map>-->
          </div>
          <div class="row">
            <a class="col map-resize" (click)="mapResize($event, content)" translate>hotelList.showOnMap</a>
          </div>
        </div>
        <div class="col">
          <div class="hotel-detail-header">
            <div class="btn-group">
              <a class="fake-link" (click)="scroll(roomInfo)" translate>hotel.rooms</a>
              <a class="fake-link" (click)="mapResize($event, content)" translate>hotelList.showOnMap</a>
              <a class="fake-link" (click)="sidenav.open()" translate>hotel.reviews</a>
              <a class="fake-link" *ngIf="showSearchResults()" routerLink="/hotels" translate>header.searchResults</a>
            </div>
          </div>
          <div class="row">
            <h2>{{hotel | translateField : 'name'}}</h2>
            <div style="display: inline" class="star">
              <i class="fas fa-star" *ngFor="let i of hotel.star | numberArray"></i>
            </div>
          </div>
          <div class="row hotel-address">
            {{hotel.address | address : 'long'}}
          </div>
          <app-hotel-detail-gallery class="row" [photos]="hotel.photos" [selectedIndex]="hotel.primaryPhotoIndex"></app-hotel-detail-gallery>
        </div>
      </div>
      <div class="row search-info border-panel container" *ngIf="hotelSearchQuery.roomCount">
        <div class="row">
          <div class="col">
            <p translate>reservation.checkIn</p>
            <span>{{hotelSearchQuery.checkIn | formatDate : 'dd LLL EEE'}}</span>
          </div>
          <div class="col">
            <p translate>reservation.checkOut</p>
            <span>{{hotelSearchQuery.checkOut | formatDate: 'dd LLL EEE'}}</span>
          </div>
          <div class="col-3">
            <p translate>hotel.guests</p>
            <div>{{hotelSearchQuery.adultCount | plural : ('plural.adult' | translate) : ('plural.adults' | translate)}}</div>
            <div *ngIf="hotelSearchQuery.childCount">{{hotelSearchQuery.childCount | plural : ('plural.child' | translate) : ('plural.children' | translate)}}</div>
          </div>
          <div class="col">
            <p translate>hotelSearch.room</p>
            <span>{{hotelSearchQuery.roomCount}}</span>
          </div>
          <div class="col">
            <button mat-stroked-button color="primary" (click)="selectSearchPanel(searchPanel)">{{'hotel.change' | translate}}</button>
          </div>
        </div>
      </div>
      <div #roomInfo class="row rooms-panel border-panel container">
        <h2 translate>hotel.rooms</h2>
        <div class="row" *ngIf="hotelSearchQuery.childCount">
          <div class="col well max-child-age-info">
            <span style="color: red; margin-right: 5px">*</span>
            <span translate [translateParams]="{maxChildAge: hotel.maxChildAge}">message.maxChildAge</span>
          </div>
        </div>
        <div class="row">
          <div class="room-cards col">
            <app-hotel-room-card *ngFor="let room of hotel.rooms" [room]="room" [reservation]="reservation"></app-hotel-room-card>
          </div>
          <div class="total-price-panel col-2 col well" *ngIf="reservation.nightCount > 0">
            <div class="row room-count-info justify-content-center" *ngIf="reservation.hasReservedRoom()">
              <div class="row">
                <h5 class="col">{{reservation.roomReservations.length | plural : ('plural.room' | translate) : ('plural.rooms' | translate)}}</h5>
              </div>
              <div class="row">
                <h4 class="col">{{reservation.calculateTotalPrice() | price | async}}</h4>
              </div>
            </div>
            <div class="row">
              <button mat-stroked-button color="primary" class="col" ngbPopover="{{'message.selectRoom' | translate}}" placement="right" triggers="manual" #p="ngbPopover" (click)="book(p)">{{'hotel.book' | translate}}</button>
            </div>
          </div>
        </div>
      </div>
      <div #hotelInfo class="row border-panel info-panel container">
        <div class="row description" #description></div>
      </div>
      <ng-template id="map-modal" #content let-dismiss="close">
        <div class="modal-header">
          <button type="button" class="close" aria-label="Close" (click)="dismiss()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-map class="col" [lon]="hotel.address.lon" [lat]="hotel.address.lat"></app-map>
        </div>
      </ng-template>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
