mat-sidenav {
  max-width: 40%;
}

/deep/ .main-panel {
  margin: 0 !important;
}

.breaker {
  margin-top: 10px;
}

.small-map {
  padding: 5px;
}

.modal-body {
  padding: 5px;
  margin-top: -50px;
}

.modal-header {
  padding: 4px 8px;
}

.close {
  z-index: 10;
  margin: 0 0 0 auto;
  padding: 0;
  outline: none;
}

a {
  text-decoration: underline;
  cursor: pointer;
  color: #07c !important;
}

.map-resize {
  text-align: right;
}

h2 {
  margin-left: 10px;
}

.hotel-address {
  margin-left: 15px;
}

.search-info, .rooms-panel {
  display: block;
}

.search-info span {
  color: #07c;
  font-size: 15px;
  font-weight: bold;
}

.search-info p {
  font-size: 15px;
  font-weight: bold;
}

app-hotel-detail-gallery {
  width: 100%;
  margin: 0;
}

.row {
  margin-left: 0;
}

.total-price-panel {
  text-align: center;
}

.description {
  text-align: justify;
  font-size: 13pt;
  padding: 3%;
  display: block;
}

.fake-link {
  font-size: 1.3em;
  padding: 0 10px;
}

.fake-link:not(:last-child) {
  border-right: 1px solid #07c;
}

app-hotel-reviews {
  width: 100%;
}

.hotel-detail-header {
  margin: 10px 0;
}

.room-cards {
  padding-left: 0;
  padding-right: 5px;
}
