<div class="container">
  <h2 translate>category.categories</h2>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef translate>common.no</th>
      <td mat-cell *matCellDef="let i = index"> {{i + 1}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'common.name' | translate}}</th>
      <td mat-cell *matCellDef="let element">
        <a routerLink="{{element.id}}">{{element | translateField : 'name'}}</a>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'common.type' | translate}}</th>
      <td mat-cell *matCellDef="let element">
        <span>{{'enum.CategoryType.' + element.type | translate}}</span>
      </td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'common.description' | translate}}</th>
      <td mat-cell *matCellDef="let element">
        <span>{{element | translateField : 'description'}}</span>
      </td>
    </ng-container>

    <!-- Halal Column -->
    <ng-container matColumnDef="halal">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'category.halal' | translate}}</th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox [value]="element.halal" [disabled]="true"></mat-checkbox>
      </td>
    </ng-container>

    <!-- Halal Column -->
    <ng-container matColumnDef="filter">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'common.filter' | translate}}</th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox [value]="element.filter" [disabled]="true"></mat-checkbox>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <a routerLink="new" class="new" mat-stroked-button color="primary">{{'category.newCategory' | translate}}</a>
</div>
