<div class="container">
  <form (submit)="sendMail()">
    <mat-form-field>
      <mat-select name="template" [placeholder]="'mail.template' | translate" [ngModel]="0" (selectionChange)="templateSelected($event.value)">
        <mat-option *ngFor="let template of templates; let i=index" [value]="i">
          {{template.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select name="recipients" [placeholder]="'mail.recipients' | translate" [ngModel]="mail.recipientType" (selectionChange)="recipientTypeChanged($event.value)">
        <mat-option *ngFor="let type of recipientTypes" [value]="type">
          {{'enum.RecipientType.' + type | translate}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <h3>Parameters</h3>
    <mat-form-field>
      <input matInput type="text" name="subject" [(ngModel)]="mail.subject" [placeholder]="'mail.subject' | translate">
    </mat-form-field>
    <ng-container *ngFor="let param of mail.template.parameters">
      <app-editor *ngIf="param.type === MailTemplateParameterType.HTML" [(content)]="param.value" [placeholder]="param.name"></app-editor>
      <mat-form-field *ngIf="param.type === MailTemplateParameterType.TEXT" >
        <input matInput type="text" name="{{param}}" [(ngModel)]="param.value" placeholder="{{param.name}}">
      </mat-form-field>
    </ng-container>

    <button class="center" mat-stroked-button color="warn" type="submit">{{'mail.send' | translate}}</button>
  </form>
</div>
