<div class="photo-row">
  <input type="file" #fileInput hidden (change)="upload()" accept="image/*"/>
  <div class="settings-avatar">
    <img src={{getImageUrl()}} width="128" alt="Profile picture">
  </div>
  <div class="avatar-right">
    <button type="button" mat-stroked-button color="primary" (click)="fileInput.click()">
      <i class="fas fa-camera"></i> {{'user.changePhoto' | translate}}</button>
  </div>
</div>
<form (submit)="save()">
  <mat-form-field>
    <input name="displayName" matInput [placeholder]="'user.displayName' | translate" [(ngModel)]="profile.displayName" maxlength="50">
    <mat-error *ngIf="!profile.displayName">{{'message.enter' | translate : {field: 'user.displayName' | translate} }}</mat-error>
  </mat-form-field>
  <mat-checkbox name="newsletter" class="form-item" [(ngModel)]="profile.newsletter">{{'user.subscribeNewsletter' | translate}}</mat-checkbox>
  <mat-form-field>
    <mat-select name="currency" [placeholder]="'user.defaultCurrency' | translate" [(ngModel)]="profile.defaultCurrency.id">
      <mat-option></mat-option>
      <mat-option *ngFor="let cur of currencies" [value]="cur.id">{{cur.shortName}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select name="language" [placeholder]="'common.defaultLanguage' | translate" [(ngModel)]="profile.defaultLanguage.id">
      <mat-option></mat-option>
      <mat-option *ngFor="let lan of languages" [value]="lan.id">{{lan.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <button type="submit" class="center" mat-stroked-button color="primary">{{'common.save' | translate}}</button>
</form>
