mat-form-field, .form-item, .photo-row {
  max-width: 80%;
  display: block;
  margin: auto;
}

div.photo-row {
  margin-bottom: 10px;
  .settings-avatar {
    display: inline-block;
    img {
      background-color: #bdbdbd;
      border: 1px solid #d0d0d1;
      color: #212121;
      -webkit-box-shadow: 1px 1px 2px #ccc;
      box-shadow: 1px 1px 2px #ccc;
    }
  }
  .avatar-right {
    vertical-align: top;
    margin-left: 20px;
    display: inline-block;
  }
}
