<div class="container-fluid" style="padding: 0">
  <app-header></app-header>
  <div class="main-panel">
    <ngx-toasta position="top-right"></ngx-toasta>
    <router-outlet></router-outlet>
  </div>
</div>
