<div class="container">
  <div *ngIf="!evaluation" translate>review.noReview</div>
  <div *ngIf="evaluation">
    <h4 class="evaluation-header">
      <app-score [score]="hotel.evaluation.score"></app-score>
      <span class="review-level">{{evaluation.score | reviewScoreLevel | async}}</span>
      <span class="review-count">{{evaluation.reviewCount | plural: ('plural.review' | translate) : ('plural.reviews' | translate)}}</span>
    </h4>
    <mat-divider></mat-divider>
    <app-line-progress *ngFor="let category of evaluation.evaluationCategoryScores" [progress]="category.score * 10"
                       [value]="category.score" [title]="category.category | translateField : 'name'"></app-line-progress>

    <div class="reviews">
      <div class="filters">
        <mat-select [placeholder]="'review.reviewer' | translate" [(ngModel)]="selectedTravellerType" (selectionChange)="filterChanged()">
          <mat-option>{{'review.allReviewers' | translate}}</mat-option>
          <mat-option *ngFor="let travellerType of travellerTypes" [value]="travellerType">
            {{('enum.TravellerType.' + travellerType | translate) + " (" + travellerTypeMap[travellerType].length + ")"}}
          </mat-option>
        </mat-select>
        <mat-select [placeholder]="'review.score' | translate" [(ngModel)]="selectedScoreSecondLevel" (selectionChange)="filterChanged()">
          <mat-option>{{'review.allScores' | translate}}</mat-option>
          <mat-option *ngFor="let scoreLevel of scoreLevels" [value]="scoreLevel">
            {{('enum.ScoreSecondLevel.' + scoreLevel | translate) + " (" + scoreLevelMap[scoreLevel].length + ")"}}
          </mat-option>
        </mat-select>
        <mat-select [placeholder]="'common.language' | translate" [(ngModel)]="selectedLanguage" (selectionChange)="filterChanged()">
          <mat-option>{{'review.allLanguages' | translate}}</mat-option>
          <mat-option *ngFor="let language of languages" [value]="language">
            {{getLanguageName(language) + " (" + languageMap[language].length + ")"}}
          </mat-option>
        </mat-select>
      </div>
      <mat-divider></mat-divider>
      <div class="sorters">
        <div class="col sort-panel btn-group btn-group-toggle" ngbRadioGroup [(ngModel)]="sortType">
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" [value]="ReviewSortType.DATE" (click)="toggleSortType()"> {{'common.date' | translate}} {{getDirectionSymbol(ReviewSortType.DATE)}}
          </label>
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" [value]="ReviewSortType.SCORE" (click)="toggleSortType()"> {{'review.score' | translate}} {{getDirectionSymbol(ReviewSortType.SCORE)}}
          </label>
        </div>
      </div>
      <ng-container *ngFor="let review of filteredReviews | reviewSort : sortType : asc">
        <mat-divider></mat-divider>
        <app-hotel-review [review]="review"></app-hotel-review>
      </ng-container>
    </div>
  </div>
</div>
