.container {
  margin: 20px 0;

  .evaluation-header {
    app-score {
      display: inline-block;
    }
    .review-level {
      margin-left: 5px;
      padding-right: 5px;
    }
    .review-count {
      color: #666;
      padding-left: 5px;
      font-size: smaller;
    }
  }
  app-line-progress {
    display: inline-block;
    width: 50%;
    padding: 1%;
  }


  .filters {
    margin: 0;
    box-shadow: none;
    border-radius: 4px 4px 0 0;
    border: 1px solid #ededed;
    border-bottom: 0;
    padding: 20px;
    mat-select {
      width: 30%;
      margin: 0 10px;
    }
  }

  .sorters {
    margin: 20px 0;
  }
}
