<div class="container">
  <h3 translate>hotel.hotels</h3>
  <table *ngIf="hotels && hotels.length > 0" mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>{{'common.no' | translate}}</th>
      <td mat-cell *matCellDef="let i = index"> {{i + 1}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'common.name' | translate}}</th>
      <td mat-cell *matCellDef="let element">
        <a routerLink="/manage/hotels/{{element.id}}">{{element | translateField : 'name'}}</a>
      </td>
    </ng-container>

    <!-- Star Column -->
    <ng-container matColumnDef="star">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'hotel.star' | translate}}</th>
      <td mat-cell *matCellDef="let element">
        <i class="fas fa-star" *ngFor="let i of element.star | numberArray"></i>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div class="well" style="text-align: center" *ngIf="!hotels || hotels.length == 0">{{'hotel.noHotels' | translate}}</div>
  <a *ngIf="hasCreateHotelPermission()" routerLink="/manage/hotels/new" class="new" mat-stroked-button color="primary">{{'hotel.newHotel' | translate}}</a>
</div>
