<ngb-tabset activeId="{{formType}}" [justify]="'fill'">
  <ngb-tab id="{{FormType.login}}" [title]="'enum.LoginFormType.login' | translate">
    <ng-template ngbTabContent>
      <app-login-form [formType]="FormType.login"></app-login-form>
    </ng-template>
  </ngb-tab>
  <ngb-tab id="{{FormType.register}}" [title]="'enum.LoginFormType.register' | translate">
    <ng-template ngbTabContent>
      <app-login-form [formType]="FormType.register"></app-login-form>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
