<ul>
  <li *ngIf="paymentOption.isNonRefundable()" translate>enum.PaymentOptionType.NON_REFUNDABLE</li>
  <li *ngIf="paymentOption.freeCancellationDays" class="positive" translate [translateParams]="{before: cancelExpireTime(paymentOption.freeCancellationDays) | formatDate}">payment.freeCancellationBefore</li>
  <li *ngIf="paymentOption.penaltyCancellationDays" translate [translateParams]="{percentage: 100 - paymentOption.penaltyPercentage, before: cancelExpireTime(paymentOption.penaltyCancellationDays) | formatDate}">payment.repayment</li>
  <li *ngIf="paymentOption.noPrepayment" class="positive" translate>payment.noPrepayment</li>
</ul>
