ul {
  margin-bottom: 0 !important;

  li.positive {
    color: #0ab21b;
    font-weight: bold;
    list-style-type: none;
  }

  li.positive:before {
    content: "✓";
    float: left;
    margin-left: -20px;
    font-size: 13px;
    font-weight: bold;
  }
}
