<div class="search-guests-modal" mat-dialog-content>
  <form>
    <mat-form-field >
      <mat-select name="person" [placeholder]="'hotelSearch.person' | translate"
                  [(ngModel)]="hotelSearchQuery.adultCount">
        <mat-option *ngFor="let value of 30 | numberArray : 1" [value]="value">
          {{value | plural : ('plural.adult' | translate) : ('plural.adults' | translate)}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field >
      <mat-select name="child" [placeholder]="'hotelSearch.children' | translate"
                  [(ngModel)]="hotelSearchQuery.childCount" (selectionChange)="childCountChanged()">
        <mat-option *ngFor="let value of 10 | numberArray : 0" [value]="value">
          {{value | plural : ('plural.child' | translate) : ('plural.children' | translate) : ('plural.none' |
          translate)}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field >
      <mat-select name="room" [placeholder]="'hotelSearch.room' | translate" [(ngModel)]="hotelSearchQuery.roomCount">
        <mat-option *ngFor="let value of 30 | numberArray : 1" [value]="value">
          {{value | plural : ('plural.room' | translate) : ('plural.rooms' | translate)}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="child-ages">
      <mat-form-field *ngFor="let childAge of childAges; let i = index">
        <mat-select id="child{{i}}" name="child{{i}}" [placeholder]="'hotelSearch.childAge' | translate" [ngModel]="childAge" (selectionChange)="childAgeChanged(i, $event.value)">
          <mat-option *ngFor="let value of 17 | numberArray : 0" [value]="value">
            {{value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="clearfix"></div>
    </div>
  </form>
</div>
<div mat-dialog-actions class="buttons">
  <button mat-button [mat-dialog-close] cdkFocusInitial>{{'common.close' | translate}}</button>
</div>
