<div class="login-form">
  <form (submit)="submit()">
    <div class="form-group">
      <mat-form-field>
        <input matInput name="email" type="email" [placeholder]="'person.email' | translate" required email [formControl]="emailControl">
        <mat-error *ngIf="!emailControl.valid && emailControl.hasError('required')">{{'message.enter' | translate : {field: 'person.email' | translate} }}</mat-error>
        <mat-error *ngIf="!emailControl.valid && !emailControl.hasError('required')">{{'message.invalidEmail' | translate}}</mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <input matInput name="password" type="password" [placeholder]="'login.password' | translate" required [formControl]="passwordControl">
        <mat-error *ngIf="!passwordControl.valid">{{'message.enter' | translate : {field: 'login.password' | translate} }}</mat-error>
      </mat-form-field>
    </div>
    <div class="form-error-message" *ngIf="formMessage">{{formMessage}}</div>
    <div class="forgot-pass">
      <a class="fake-link unselectable" *ngIf="isLogin()" (click)="forgotPassword()" translate>user.forgotPassword</a>
    </div>
    <div class="form-group">
      <button type="submit" class="btn login btn-outline-primary btn-block">{{'enum.LoginFormType.'+formType | translate}}</button>
    </div>
  </form>
  <div class="form-group">
    <!--<button class="btn social-login btn-outline-primary btn-block" (click)="facebook()">-->
      <!--<i class="fab fa-facebook"></i>-->
      <!--<span class="social-connect-button__title" translate [translateParams]="{formType: 'enum.LoginFormType.'+formType | translate, with: 'Facebook'}">login.connect</span>-->
    <!--</button>-->
    <button class="btn social-login btn-outline-primary btn-block" (click)="google()">
      <i class="fab fa-google"></i>
      <span class="social-connect-button__title" translate [translateParams]="{formType: 'enum.LoginFormType.'+formType | translate, with: 'Google'}">login.connect</span>
    </button>
  </div>
  <div class="form-group">
  </div>
</div>
