div.login-form {
  padding: 20px 40px;
  mat-form-field {
    width: 100%;
    display: block;
    margin: auto;
  }
  .fab {
    margin-right: 10px;
  }
  div.forgot-pass {
    margin: 10px 0;
  }
}


