/deep/ .hotel-gallery-modal i.fas.fa-times-circle {
  display: block !important;
}

ul {
  padding: 0;
}

li {
  display: inline-table
}

ngb-carousel {
  width: 100%;
  height: 460px;
  background-color: rgba(204, 230, 255, 0.3);
}

/deep/ .carousel-inner {
  height: 100%;
}

.modal-content {
  width: 100% !important;
  background: rgba(0, 0, 0, .5);
}

.gallery-image {
  cursor: pointer;
  max-width: 100%;
  max-height: 460px;
  width: auto;
  height: auto;
  margin: 0 auto;
  display: block;
}

.thumbnail.selected {
  border-style: solid;
  border-color: blue;
  border-width: 3px;
  opacity: 0.4;
  transition: opacity 0.3s;
}

.thumbnail {
  margin: 2px 0;
  box-shadow: #999 1px 1px 3px 1px;
  opacity: 1;
  width: 40px;
  height: 40px;
}

.carousel-thumbnail {
  list-style-type: none;
  padding: 0;
  margin: 1rem 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fade:not(.show) {
  opacity: 10;
  background: rgba(0, 0, 0, .5);

}

/deep/ ngb-carousel img {
  width: 100%;
  border-radius: 5px;
  margin: 5px;
}

#thumbnail-list img {
  border-radius: 3px;
  margin: 2px;
}

.modal-dialog {
  margin: 15% auto;
  max-width: 70%;
}

.fade:not(.show) {
  background: rgba(0, 0, 0, 0.9);
}

app-carousel-with-thumbails {
  width: 100%;
  height: 100%;
  background-color: rgba(204, 230, 255, 0.3);
}

/deep/ .carousel-item.active {
  max-height: 100%;
}

/deep/ .hotel-gallery-modal .modal-dialog {
  width: 100% !important;
  height: 100% !important;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  position: fixed;
}

/deep/ .hotel-gallery-modal .gallery-image {
  height: 700px !important;
  max-height: 700px !important;
}

/deep/ .hotel-gallery-modal .thumbnail {
  height: 75px !important;
}

/deep/ .hotel-gallery-modal .gallery-index-caption {
  display: block !important;
}

/deep/ @media (max-height: 800px) {
  .hotel-gallery-modal .gallery-image {
    height: 500px !important;
    max-height: 500px !important;
  }
}

/deep/ @media (max-height: 650px) {
  .hotel-gallery-modal .gallery-image {
    height: 350px !important;
    max-height: 350px !important;
  }
}

/deep/ @media (max-height: 450px) {
  .hotel-gallery-modal .gallery-image {
    height: inherit !important;
    max-height: inherit !important;
  }
}
