<i class="fas fa-times-circle" (click)="close()"></i>
<div class="room">
  <div class="row">
    <app-carousel-with-thumbails class="col-md-auto col" [photos]="room.photos"></app-carousel-with-thumbails>
    <div class="col room-info-panel">
      <h2>{{room | translateField : 'name'}}</h2>
      <p><strong>Room Size</strong> {{room.size}} m2</p>
      <p class="room-description" #description></p>
      <p><strong>Facilities</strong></p>
      <ul class="row room-facilities">
        <li *ngFor="let facility of room.facilities">
          <span class="room-facility">• {{facility | translateField : 'name'}}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
