i.fas.fa-times-circle {
  font-size: 35px;
  color: lightgray;
  position: absolute;
  right: 0;
  cursor: pointer;
  z-index: 100;
}

.room-facilities {
  padding-left: 0;
}

.room-facilities li {
  display: inline-block;
}

.room-facility {
  color: green;
  line-height: 1em;
  margin: 0 5px 0 0;
}

/deep/ .room-gallery-modal .modal-dialog {
  width: 980px !important;
  height: 514px;
  max-width: 90%;
  max-height: 90%;
}

/deep/ .room-gallery-modal .gallery-image {
  width: 640px !important;
  height: 480px !important;
  left: 0 !important;
  top: 0 !important;
}

/deep/ .room-gallery-modal .helper {
  display: none;
}

.col {
  padding: 0;
}

.room-info-panel {
  padding: 10px;
  h2 {
    text-align: center;
  }
  .row {
    margin: 0;
    padding: 0;
  }
}
