.reservation-info {
  font-size: 12px;
  label {
    font-weight: bold;
    min-width: 100px;
  }
  span::before {
    content: ': ';
  }
}

div#reservation-operations {
  margin: 20px 0;
  button {
    margin-left: 10px;
    float: right;
  }
}
