<div class="container">
  <app-hotel-list-item class="hotel-header" [readonly]="true" [hotel]="reservation.hotel"></app-hotel-list-item>
  <div class="row reservation-info">
    <div class="col">
      <p>
        <label translate>reservation.number</label>
        <span>{{reservation.reservationNo}}</span>
      </p>
      <p>
        <label translate>common.creationTime</label>
        <span>{{reservation.creationTime | formatDate:'dd.MM.yyyy - HH:mm'}}</span>
      </p>
      <p *ngIf="!isCreator()">
        <label translate>reservation.creator</label>
        <span>{{(reservation.user && reservation.user.isAgency() ? 'reservation.agency' : 'user.user') | translate}} - {{reservation.creator}}</span>
      </p>
      <p>
        <label translate>reservation.guest</label>
        <span>{{reservation.person.toString()}}</span>
      </p>
    </div>
    <div class="col">
      <p>
        <label translate>reservation.checkIn</label>
        <span>{{reservation.checkIn | formatDate}}</span>
      </p>
      <p>
        <label translate>reservation.checkOut</label>
        <span>{{reservation.checkOut | formatDate}}</span>
      </p>
      <p>
        <label translate>plural.nights</label>
        <span>{{reservation.nightCount}}</span>
      </p>
      <p>
        <label translate>common.price</label>
        <span>{{reservation.price | price : false | async}}</span>
      </p>
      <p>
        <label translate>common.status</label>
        <span>{{'enum.ReservationStatus.' + reservation.status | translate}}</span>
      </p>
    </div>
  </div>
  <div class="room-cards">
    <app-hotel-room-card *ngFor="let room of reservation.getReservedRoomList()"
                         [room]="room"
                         [changeAlternativeCounts]="false"
                         [onlySelectedAlternatives]="true"
                         [reservation]="reservation"
                         [summary]="true"
                         >
    </app-hotel-room-card>
  </div>
  <div id="reservation-operations">
    <button *ngIf="canCancel" mat-stroked-button color="warn" (click)="cancel()">{{'common.cancel' | translate}}</button>
    <a *ngIf="isCreator() && reservation.status === ReservationStatus.CLOSED" mat-stroked-button color="primary" routerLink="/review/{{reservation.id}}">{{'review.review' | translate}}</a>
  </div>
</div>
