<div class="registration container">
  <h3><a routerLink="/manage/hotels" translate>hotel.hotels</a> / <a routerLink="../../">{{hotel | translateField : 'name'}}</a> / <a
    routerLink="../">{{room | translateField : 'name'}}</a> / {{alternative.mealOption | mealOption | async}} - {{alternative.paymentOption | paymentOptions | async}}</h3>
  <mat-horizontal-stepper [linear]="!alternative.id" #stepper>
    <mat-step [label]="'common.basic' | translate" [completed]="isBasicFormValid()">
      <form (submit)="saveBasic()">
        <mat-form-field class="inline-field">
          <input matInput type="text" name="maxAdult" [placeholder]="'room.maxAdult' | translate" [dropSpecialCharacters]="false" [(ngModel)]="alternative.maxAdult" required mask="00">
          <mat-error *ngIf="!+alternative.maxAdult">{{'message.enter' | translate : {field: 'room.maxAdult' | translate} }}</mat-error>
        </mat-form-field>
        <mat-form-field class="inline-field">
          <input matInput type="text" name="maxChild" [placeholder]="'room.maxChild' | translate" [dropSpecialCharacters]="false" [(ngModel)]="alternative.maxChild" required mask="00">
          <mat-error *ngIf="!(+alternative.maxChild >= 0)">{{'message.enter' | translate : {field: 'room.maxChild' | translate} }}</mat-error>
        </mat-form-field>
        <mat-form-field class="inline-field">
          <input matInput type="text" name="basePriceRatio" [placeholder]="'room.basePriceRatio' | translate" [dropSpecialCharacters]="false" [(ngModel)]="alternative.basePriceRatio" required mask="0.00">
          <mat-error *ngIf="!+alternative.basePriceRatio">{{'message.enter' | translate : {field: 'room.basePriceRatio' | translate} }}</mat-error>
        </mat-form-field>
        <button type="submit" class="center" mat-stroked-button color="primary">{{'common.save' | translate}}</button>
      </form>
    </mat-step>
    <mat-step [label]="'alternative.mealOptions' | translate" [completed]="alternative.id">
      <mat-grid-list cols="2" rowHeight="500px">
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <div class="options">
            <mat-radio-group class="form-item" [(ngModel)]="alternative.mealOption.type">
              <mat-radio-button [value]="MealOptionType.NOTHING_INCLUDED">{{'enum.MealOptionType.NOTHING_INCLUDED' | translate}}</mat-radio-button>
              <mat-radio-button [value]="MealOptionType.ALL_INCLUDED">{{'enum.MealOptionType.ALL_INCLUDED' | translate}}</mat-radio-button>
              <mat-radio-button [value]="MealOptionType.OPTIONAL">{{'enum.MealOptionType.OPTIONAL' | translate}}</mat-radio-button>
            </mat-radio-group>
            <div class="optional-meals" *ngIf="alternative.mealOption.type === MealOptionType.OPTIONAL">
              <mat-checkbox class="form-item" [checked]="true" [disabled]="true" [(ngModel)]="meals[MealType.BREAKFAST]" (change)="mealsChanged()">{{'enum.MealType.BREAKFAST' | translate}}</mat-checkbox>
              <mat-checkbox class="form-item" [(ngModel)]="meals[MealType.LUNCH]" (change)="mealsChanged()">{{'enum.MealType.LUNCH' | translate}}</mat-checkbox>
              <mat-checkbox class="form-item" [(ngModel)]="meals[MealType.DINNER]" (change)="mealsChanged()">{{'enum.MealType.DINNER' | translate}}</mat-checkbox>
              <mat-radio-group class="form-item" [(ngModel)]="optionalMealIncluded" (change)="mealsChanged()">
                <mat-radio-button [value]="true">{{'alternative.included' | translate}}</mat-radio-button>
                <mat-radio-button [value]="false">{{'payment.fee' | translate}}</mat-radio-button>
              </mat-radio-group>
              <app-price class="form-item" *ngIf="!optionalMealIncluded" [(price)]="alternative.mealOption.price" [currency]="hotel.currency"></app-price>
            </div>
          </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <div *ngIf="alternative.mealOption.type !== MealOptionType.NOTHING_INCLUDED" [class.positive]="!alternative.mealOption.hasOptionalPrice()">
            {{alternative.mealOption | mealOption | async}}
          </div>
        </mat-grid-tile>
      </mat-grid-list>
      <button class="center" mat-stroked-button color="primary" (click)="saveAlternative()">{{'common.save' | translate}}</button>
    </mat-step>
    <mat-step [label]="'alternative.paymentOptions' | translate">
      <mat-grid-list cols="2" rowHeight="500px">
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <div class="options">
            <div>
              <mat-checkbox class="inline-field" [(ngModel)]="freeCancellation" (change)="freeCancellationChanged($event.checked)">{{'payment.freeCancellation' | translate}}</mat-checkbox>
              <mat-form-field class="inline-field" *ngIf="freeCancellation">
                <mat-select [placeholder]="'payment.beforeDays' | translate" [(ngModel)]="alternative.paymentOption.freeCancellationDays">
                  <mat-option *ngFor="let i of 5 | numberArray" [value]="i">
                    {{i}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div>
              <mat-checkbox class="inline-field" [(ngModel)]="penaltyCancellation" (change)="penaltyCancellationChanged($event.checked)">{{'payment.penaltyCancellation' | translate}}</mat-checkbox>
              <mat-form-field class="inline-field" *ngIf="penaltyCancellation">
                <input matInput type="number" [placeholder]="'payment.beforeDays' | translate" [(ngModel)]="alternative.paymentOption.penaltyCancellationDays">
              </mat-form-field>
              <mat-form-field class="inline-field" *ngIf="penaltyCancellation">
                <input matInput type="number" [placeholder]="'payment.penaltyPercentage' | translate" [(ngModel)]="alternative.paymentOption.penaltyPercentage">
              </mat-form-field>
            </div>
            <mat-checkbox value="false" [(ngModel)]="alternative.paymentOption.noPrepayment">{{'payment.noPrepayment' | translate}}</mat-checkbox>
          </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <div>
            <app-payment-option [paymentOption]="alternative.paymentOption"></app-payment-option>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
      <button class="center" mat-stroked-button color="primary" (click)="saveAlternative()">{{'common.save' | translate}}</button>
    </mat-step>
  </mat-horizontal-stepper>
  <button *ngIf="alternative.id" class="center" mat-stroked-button color="warn" (click)="deleteAlternative()">{{'common.delete' | translate}}</button>
</div>
