.form-item {
  display: block;
}
mat-radio-button {
  margin-right: 10px;
}
mat-form-field, mat-checkbox {
  margin-right: 10px;
  width: initial;
  display: flex;
}

mat-checkbox.inline-field {
  min-width: 150px;
}

/deep/ .mat-grid-tile .mat-figure {
  justify-content: left !important;
  align-items: initial !important;
}

/deep/ .options .mat-form-field-flex {
  width: 75px;
}

.options {
  margin: 15px
}

.positive {
  color: #0ab21b;
  font-weight: bold;
}

.positive:before {
  content: "✓";
  float: left;
  margin-left: -20px;
  font-size: 13px;
  font-weight: bold;
}

mat-step {
  padding: 5px;
}
