.review {
  padding: 20px;
  .header {
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
    .header-left {
      float: left;
      .display-name {
        font-weight: bold;
      }
    }
    .header-right {
      float: right;
      font-size: 16px;
      margin-top: 5px;
    }
  }
  .body {
    margin-bottom: 10px;
    .date {
      color: #707070;
      font-size: 12px;
      line-height: 18px;
      font-weight: 400;
    }
    .title {
      margin: 0;
      padding: 0;
      font-size: 20px;
      line-height: 28px;
      font-weight: 500;
      color: #000;
    }
    .liked, .disliked {
      text-align: justify;
      padding: 0;
      margin: 0;
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      color: #383838;
      direction: ltr;
      white-space: pre-line;
      .start {
        font-weight: bold;
      }
      .description {
        width: 100%;
      }
    }
    .liked {
      margin: 10px 0;
      .start {
        color: #0ab21b;
      }
    }
  }
}
