<div class="review">
  <div class="header">
    <div class="header-left">
      <div class="display-name">{{review.reviewerName}}</div>
      <div class="country">{{review.reviewerCountry}}</div>
    </div>
    <div class="header-right">
      <app-score [score]="review.score"></app-score>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="body">
    <div class="date">{{'review.reviewed' | translate}}: {{review.time | formatDate: 'fullDate'}}</div>
    <div class="title">{{review | reviewTitlePipe | async}}</div>
    <div class="liked" *ngIf="!review.likeComment && !review.dislikeComment" translate>review.noComment</div>
    <div class="liked" *ngIf="review.likeComment">
      <span class="start">
        <i class="far fa-grin"></i> {{'review.like' | translate}}
      </span>
      <span class="description">{{review.likeComment}}</span>
    </div>
    <div class="disliked" *ngIf="review.dislikeComment">
      <span class="start">
        <i class="far fa-frown"></i> {{'review.dislike' | translate}}
      </span>
      <span class="description">{{review.dislikeComment}}</span>
    </div>
  </div>
</div>
