div.reservation-card {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
  margin: 5px 0;
  box-shadow: 0 0 10px lightgray;
  img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
  }
  .col, .row {
    padding: 0 !important;
    margin: 0 !important;
  }
  .hotel-header {
    display: flex;
    cursor: pointer;
    color: #07c;
    .hotel-name {
      font-weight: bold;
      vertical-align: middle;
      font-size: 20px;
    }
  }
  app-calendar-day:first-child {
    border-right: 1px dotted lightgray;
  }
  .operations-row {
    opacity: unset;
  }
}

.passed {
  color: #999;
  .image-col, .info-row {
    opacity: .7;
  }
}


