<div class="reservation-card row" [class.passed]="!reservation.canChange()">
  <div class="col-3 image-col">
    <a (click)="mainAction()">
      <img [src]="reservation.hotel.getPrimaryPhotoUrl()">
    </a>
  </div>
  <div class="col info-col">
    <div class="row info-row">
      <div class="col">
        <div class="hotel-header" (click)="mainAction()">
          <span class="hotel-name">{{reservation.hotel | translateField : 'name'}}</span>
          <div class="star">
            <i class="fas fa-star" *ngFor="let i of reservation.hotel.star | numberArray"></i>
          </div>
        </div>
        <div *ngIf="reservation.isCancelled()" translate>enum.ReservationStatus.CANCELLED</div>
      </div>
      <div class="col col-4">
        <div class="row">
          <app-calendar-day class="col" [date]="reservation.checkIn" [header]="'reservation.checkIn' | translate"></app-calendar-day>
          <app-calendar-day class="col" [date]="reservation.checkOut" [header]="'reservation.checkOut' | translate"></app-calendar-day>
        </div>
      </div>
    </div>
    <div class="row operations-row">
      <button *ngIf="reservation.canChange()" mat-stroked-button color="primary" (click)="goReservation()">{{'common.change' | translate}}</button>
      <button *ngIf="reservation.canReview()" mat-stroked-button color="primary" (click)="goReview()">{{'review.review' | translate}}</button>
    </div>
  </div>
</div>
