<div class="container">
  <h3><a routerLink="/manage/hotels">{{'hotel.hotels' | translate}}</a> / {{hotel | translateField : 'name'}}</h3>
  <mat-horizontal-stepper [linear]="!isBasicFormValid() || !isAddressFormValid()" #stepper>
    <mat-step [label]="'common.basic' | translate" [completed]="isBasicFormValid()">
      <form (submit)="saveBasic()">
        <ngb-rating name="star" [max]="5" [(rate)]="hotel.star"></ngb-rating>
        <mat-form-field class="full-width">
          <input name="name" matInput [placeholder]="'common.name' | translate" [(ngModel)]="hotelTranslation.name" required maxlength="50">
          <mat-error *ngIf="!hotelTranslation.name">{{'message.enter' | translate : {field: 'common.name' | translate} }}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-select name="defaultLanguage" [placeholder]="'common.defaultLanguage' | translate" [(ngModel)]="hotel.defaultLanguageId">
            <mat-option *ngFor="let language of languages" [value]="language.id">
              {{language.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select name="currency" [placeholder]="'user.defaultCurrency' | translate" [(ngModel)]="hotel.currency" required>
            <mat-option *ngFor="let currency of currencies" [value]="currency.code">
              {{currency.shortName}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="!hotel.currency">{{'message.enter' | translate : {field: 'user.defaultCurrency' | translate} }}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" name="maxChildAge" [placeholder]="'hotel.maxChildAge' | translate" [(ngModel)]="hotel.maxChildAge" mask="00">
        </mat-form-field>
        <mat-form-field>
          <mat-select name="channelManager" [placeholder]="'hotel.channelManager' | translate" [(ngModel)]="hotel.channelManager">
            <mat-option>
              Yok
            </mat-option>
            <mat-option *ngFor="let cm of channelManagers" [value]="cm">
              {{cm}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <app-editor [(content)]="hotelTranslation.description"></app-editor>
        <button type="submit" class="center" mat-stroked-button color="primary">{{'common.save' | translate}}</button>
      </form>
    </mat-step>
    <mat-step [label]="'hotel.address' | translate" [completed]="isAddressFormValid()">
      <form (submit)="saveAddress()">
        <mat-form-field>
          <input matInput id="lat" name="lat" type="number" [placeholder]="'hotel.latitude' | translate" [formControl]="latControl">
          <mat-error *ngIf="!latControl.valid">{{'message.enterLatitude' | translate}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput id="lon" name="lon" type="number" [placeholder]="'hotel.longitude' | translate" [formControl]="lonControl">
          <mat-error *ngIf="!lonControl.valid">{{'message.enterLongitude' | translate}}</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput name="street" [placeholder]="'hotel.streetLine' | translate" [(ngModel)]="addressTranslation.street">
        </mat-form-field>
        <mat-form-field>
          <input matInput name="district" [placeholder]="'hotel.district' | translate" [(ngModel)]="addressTranslation.district">
        </mat-form-field>
        <mat-form-field>
          <input matInput name="city" [placeholder]="'hotel.city' | translate" [(ngModel)]="addressTranslation.city" required>
          <mat-error *ngIf="!addressTranslation.city">{{'message.enter' | translate : {field: 'hotel.city' | translate} }}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput name="county" [placeholder]="'hotel.county' | translate" [(ngModel)]="addressTranslation.county">
        </mat-form-field>
        <mat-form-field>
          <input matInput name="postalCode" [placeholder]="'hotel.postalCode' | translate" [(ngModel)]="hotel.address.postalCode">
        </mat-form-field>
        <mat-form-field>
          <input matInput name="country" [placeholder]="'hotel.country' | translate" [(ngModel)]="addressTranslation.country" required>
          <mat-error *ngIf="!addressTranslation.country">{{'message.enter' | translate : {field: 'hotel.country' | translate} }}</mat-error>
        </mat-form-field>
        <button type="submit" class="center" mat-stroked-button color="primary">{{'common.save' | translate}}</button>
      </form>
    </mat-step>
    <mat-step [label]="'hotel.photos' | translate">
      <mat-file-upload-queue style="display: block"
                             [maxFileCount]="100 - hotel.photos.length"
                             (onUpload)="fileUploaded($event)"
                             multiple>
      </mat-file-upload-queue>

      <label class="total-count">{{'hotel.totalPhotos' | translate}}: {{hotel.photos.length}}</label>
      <hr>

      <div class="photos">
        <div class="file-card" [class.primary]="hotel.primaryPhotoIndex === i"
             *ngFor="let photo of hotel.photos; let i = index">
          <img src="{{photo.getFullUrl}}">
          <div class="icons">
            <a (click)="removePhoto(i)"><i class="fas fa-trash-alt"></i></a>
            <a class="primary-icon" (click)="selectPrimaryPhoto(i)"><i class="far fa-check-circle"></i></a>
          </div>
        </div>
      </div>
      <button class="center" mat-stroked-button color="primary" (click)="saveHotel()">{{'common.save' | translate}}</button>
    </mat-step>
    <mat-step [label]="'category.facilities' | translate">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let category of categories">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{category.getTranslation(languageId, true).name}}
            </mat-panel-title>
            <mat-panel-description *ngIf="category.description">
              {{category.getTranslation(languageId, true).description}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <ul class="facilities">
            <li *ngFor="let facility of category.facilities">
              <mat-checkbox [(ngModel)]="facility.check">
                {{facility.getTranslation(languageId, true).name}}
                <span *ngIf="facility.chargeable"> ({{'hotel.chargeable' | translate}})</span>
              </mat-checkbox>
            </li>
          </ul>
        </mat-expansion-panel>
      </mat-accordion>
      <button class="center" mat-stroked-button color="primary" (click)="saveHotel()">{{'common.save' | translate}}</button>
    </mat-step>
    <mat-step [label]="'hotel.rooms' | translate">
      <app-manage-rooms></app-manage-rooms>
    </mat-step>
  </mat-horizontal-stepper>
  <button *ngIf="hotel.id" class="center" mat-stroked-button color="warn" (click)="deleteHotel()">{{'common.delete' | translate}}</button>
</div>


