ngb-rating {
  display: block !important;
  font-size: 2em;
  outline: none;
  color: darkorange;
}

/deep/ mat-horizontal-stepper .mat-horizontal-content-container {
  overflow: inherit !important;
}

/deep/ mat-horizontal-stepper div.mat-horizontal-stepper-content {
  width: 100%;
  margin: auto;
}

/deep/ mat-horizontal-stepper mat-form-field, ngb-rating {
  width: fit-content;
  display: block;
  margin-right: 10px;
}

/deep/ mat-horizontal-stepper .file-card {
  display: inline-block;
  border: 1px solid #e6e6e6;
  margin-right: 5px;
  img {
    width: auto;
    height: 100px;
    padding: 2px;
  }
}

/deep/ mat-horizontal-stepper .fas, .far {
  display: inline-block;
  text-align: center;
  font-size: 1.2em;
}

/deep/ mat-horizontal-stepper .fas.fa-trash-alt {
  color: firebrick;
  cursor: pointer;
}

/deep/ mat-horizontal-stepper a.primary-icon {
  cursor: pointer;
  .far.fa-check-circle {
    color: gray;
  }
}

/deep/ mat-horizontal-stepper .file-card.primary {
  border: 3px solid #0ab21b;
  a.primary-icon {
    cursor: initial;
    .far.fa-check-circle {
      color: green;
    }
  }
}

/deep/ mat-horizontal-stepper .photos div.icons a {
  margin-left: 25%;
}

/deep/ mat-horizontal-stepper .facilities {
  white-space: normal;
  li {
    margin-top: 10px;
    display: inline-block;
    width: 25%;
    /deep/ .mat-checkbox-layout {
      white-space: normal;
      font: 12px "Lucida Grande","LucidaGrande",Arial,sans-serif
    }
  }
}

/deep/ mat-horizontal-stepper mat-expansion-panel-header {
  background: #e6e6e6;
  mat-panel-title {
    color: #1f6089
  }
}

/deep/ mat-horizontal-stepper table {
  width: 100%;
}
