<ng-template #t let-date="date" let-focused="focused">
  <span class="custom-day"
        [class.focused]="focused"
        [class.range]="isFrom(date) || isTo(date) || isInside(date) || isHovered(date)"
        [class.faded]="isHovered(date) || isInside(date)"
        [class.passed]="isPassed(date)"
        (mouseenter)="hoveredDate = date"
        (mouseleave)="hoveredDate = null">
    {{ date.day }}
  </span>
</ng-template>
<div #dpDiv class="input-group date-picker" (document:click)="closeFix($event, dpDiv)">
  <input class="form-control unselectable" readonly [placeholder]="label" [value]="[fromDate, toDate] | formatDate : 'dd LLL EEE'"
         ngbDatepicker (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" #dp="ngbDatepicker"
         [autoClose]="false" [navigation]="navigation" [outsideDays]="outsideDays" [minDate]="today" [markDisabled]="isDateDisabled">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary date-picker" type="button">
      <img src="../../../assets/images/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
    </button>
  </div>
</div>
