.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
  font-size: 0.8rem;
}

.custom-day.focused {
  background-color: #e6e6e6;
}

.custom-day.range, .custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}

.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

.custom-day.passed {
  color: lightgray;
}

.custom-day.passed:hover {
  background: none;
}

.form-group {
  min-width: 14rem;

  .input-group {
    width: 100%;
    align-items: center;
  }

}

#dateRangePicker {

  input.form-control {
    border: none;
    cursor: pointer;
    background-color: transparent;
  }

  i.material-icons {
    position: absolute;
    right: 0;
    top: calc(50% - 12px);
  }

}

input {
  font-size: 0.8rem;
}

button.date-picker {
  line-height: 0.8rem;
}

