.search-item {
  margin-left: 5px;
  margin-bottom: 10px !important;
  display: inline-block;
  width: 100%;
}

button {
  height: fit-content;
}

.container {
  margin-bottom: 10px;
  padding: 20px;
  border: 1px solid #e6e6e6;
  background-color: ghostwhite;
  border-radius: 5px;
}

mat-card {
  padding: 0.375rem 0.75rem;
  text-align: center;
}

mat-card:hover {
  cursor: pointer;
  border: solid 2px darkgray;
}
