<div class="container">
  <form (submit)="search()">
    <div class="form-row">
      <app-search-place class="col search-item" (valueChange)="placeSelected($event)"></app-search-place>
      <app-datepicker-popup class="col-3 search-item" (dateSelected)="onDateSelected($event)" [label]="'hotelSearch.checkIncheckOut' | translate" [fromDate]="hotelSearchQuery.checkIn" [toDate]="hotelSearchQuery.checkOut"></app-datepicker-popup>
      <mat-card class="col-3 search-item form-control well unselectable" (click)="openGuestsModal()">
        <span>{{hotelSearchQuery.adultCount | plural : ('plural.adult' | translate) : ('plural.adults' | translate)}}</span>
        <span> - </span>
        <span>{{hotelSearchQuery.childCount | plural : ('plural.child' | translate) : ('plural.children' | translate)}}</span>
      </mat-card>
      <button type="submit" class="col-1 search-item" mat-stroked-button color="primary">{{'hotelSearch.search' | translate}}</button>
    </div>
  </form>
</div>
