/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.border-panel {
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  padding: 5px !important;
  margin: 5px 0;
}

ngx-image-gallery {
  z-index: 900 !important;
}

body {
  font-size: 12px;
  color: #383838;
  font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  background-color: rgba(200, 200, 200, 0.02);
}

a {
  color: #07c;
}

a:hover {
  text-decoration: none;
}


a.btn {
  color: white;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.btn-primary:hover, .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  background-color: #2e6da4;
}

.star {
  margin: auto 5px;
}

@keyframes animation-active {
  from   {opacity: 0.5; background-color:orange}
  to  {opacity: 0.5; background-color:white}
}

@keyframes animation-deactive {
  from   {opacity: 0.5; background-color:orange}
  to  {opacity: 0.5; background-color:white}
}

.selected-animation {
  animation-name: animation-active;
  animation-duration: 1s;
  animation-timing-function: linear;
}

.animated:not(.selected-animation) {
  animation-name: animation-deactive;
  animation-duration: 1s;
  animation-timing-function: linear;
}

button {
  cursor: pointer;
}

.form-check {
  cursor: pointer;
}

.well {
  min-height: 10px;
  padding: 5px;
  margin-bottom: 5px !important;
  background-color: rgba(0,0,0,.03);
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.fas {
  margin-right: 2px;
}

.row {
  width: 100%;
}

h1, h2, h3, h4 {
  color: #1f6089
}

.fa-star {
  color: darkorange;
}

.popover {
  width: 200px;
}

.gallery-modal {
  app-carousel-with-thumbails {
    background-color: rgba(0, 0, 0, 0.9);
    height: 100%;
  }
  ngb-carousel {
    height: 90% !important;
  }
  .modal-content {
    height: 100%;
  }
  .thumbnail-list .thumbnail {
    width: auto !important;
    height: 50px;
    margin-right: 10px !important;
  }
  .gallery-index-caption {
    display: block;
  }
  .gallery-image {
    height: 400px;
    max-height: 400px;
  }
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: lightgray;
  border-color: #007bff;
}

.ng-valid[required] {
  border-left: 5px solid #42A948; /* green */
  padding-left: 5px;
}

.ng-invalid[required]:not(form) {
  border-left: 5px solid #a94442; /* red */
  padding-left: 5px;
}

.mat-form-field-empty {
  padding-left: 8px;
}

.form-error-message {
  color: #b71c1c;
  margin-bottom: 10px;
}

.fake-link {
  color: #07c !important;
  text-decoration: underline !important;
  cursor: pointer !important;
}

.new {
  float: right;
  margin-left: 20px !important;
  margin-top: 20px !important;
}

table {
  width: 100%;
}

.inline-field {
  display: inline-block !important;
  margin-right: 10px !important;
}

.center {
  margin: auto !important;
  margin-top: 10px !important;
  display: block !important;
}

.avatar {
  border-radius: 16px;
  width: 32px;
  height: 32px;
}

.full-width {
  width: 100% !important;
}
