$bg-color: #336699;

div.header-panel {
  background: $bg-color;
  font-size: 16px;
  padding: 10px 50px;

  .header-item {
    margin: 10px;
    color: white;
    cursor: pointer;
  }

  .logo {
    margin-right: 50px;
    font-size: 30px;
    color: #88ffff;
  }

  .right {
    float: right;
  }

  .btn-outline-light:hover {
    color: $bg-color;
  }
}

.header-option {
  img {
    width: 20px;
    margin-right: 20px;
  }

}

/deep/ mat-form-field.header-options {
  margin: 0 10px;
  .mat-select-value {
    color: white !important;
  }
}
