<div class="header-panel">
  <a class="header-item logo" routerLink="">RestHalal.com</a>
  <mat-form-field class="header-options">
    <mat-select (selectionChange)="languageChanged($event.value)" [value]="currentLang">
      <mat-option class="header-option" *ngFor="let lang of languages" [value]="lang.code">{{lang.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="header-options">
    <mat-select (selectionChange)="currencyChanged($event.value)" [value]="currentCurrency">
      <mat-option class="header-option" *ngFor="let currency of currencies" [value]="currency.code">{{currency.shortName}}</mat-option>
    </mat-select>
  </mat-form-field>
  <button class="header-item right" mat-stroked-button *ngIf="!user" (click)="login(FormType.register)">{{"enum.LoginFormType.register" | translate}}</button>
  <button class="header-item right" mat-stroked-button *ngIf="!user" (click)="login(FormType.login)">{{"enum.LoginFormType.login" | translate}}</button>

  <div *ngIf="user" style="display: inline">
    <button class="header-item btn right" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu>
      <a class="header-item" *ngIf="user.hasPermission(Permission.FACILITY_CRUD)" routerLink="/categories" mat-menu-item>
        <mat-icon>list</mat-icon>
        <span translate>header.menu.categories</span>
      </a>
      <a class="header-item" *ngIf="user.hasPermission(Permission.USER_CRUD)" routerLink="/users" mat-menu-item>
        <mat-icon>list</mat-icon>
        <span translate>user.users</span>
      </a>
      <a class="header-item" *ngIf="user.hasPermission(Permission.ALL_HOTELS_CRUD) || user.hasPermission(Permission.OWNER_HOTELS_CRUD)" routerLink="/manage/hotels" mat-menu-item>
        <mat-icon>hotel</mat-icon>
        <span translate>hotel.hotels</span>
      </a>
      <a class="header-item" *ngIf="user.hasPermission(Permission.SEND_MAIL)" routerLink="/mail" mat-menu-item>
        <mat-icon>mail</mat-icon>
        <span translate>header.menu.sendMail</span>
      </a>
      <a class="header-item" *ngIf="user.hasPermission(Permission.REVIEW_REVIEW)" routerLink="/reviews" mat-menu-item>
        <mat-icon>list</mat-icon>
        <span translate>header.menu.reviews</span>
      </a>
      <a *ngIf="user.hasPermission(Permission.ALL_RESERVATIONS_CRUD) || user.hasPermission(Permission.HOTEL_RESERVATIONS_CRUD)" class="header-item" routerLink="/reservations" mat-menu-item>
        <mat-icon>list</mat-icon>
        <span translate>header.menu.reservations</span>
      </a>
      <a class="header-item" routerLink="/profile" mat-menu-item>
        <mat-icon>account_box</mat-icon>
        <span translate>header.menu.profile</span>
      </a>
      <a class="header-item" mat-menu-item (click)="signOut()">
        <mat-icon>logout</mat-icon>
        <span translate>header.menu.logout</span>
      </a>
    </mat-menu>
  </div>

  <a *ngIf="user" class="btn header-item right" routerLink="/profile">
    <img *ngIf="user.profile.avatar" class="avatar" src={{user.profile.avatar.getFullUrl}} width="128">
    {{ user.toString()}}</a>
</div>
