<div class="container">
  <h3 translate>hotel.rooms</h3>
  <table *ngIf="hasRooms()" mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>{{'common.no' | translate}}</th>
      <td mat-cell *matCellDef="let i = index; let element">
        <a routerLink="{{element.id}}">{{i + 1}}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'common.name' | translate}}</th>
      <td mat-cell *matCellDef="let element">
        <a routerLink="{{element.id}}">{{element.get('name', languageId)}}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="size">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'room.size' | translate}} (m<sup>2</sup>)</th>
      <td mat-cell *matCellDef="let element">
        {{element.size}}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div class="well" style="text-align: center" *ngIf="!hasRooms()">{{'room.noRooms' | translate}}</div>
  <button routerLink="new" class="center" mat-stroked-button color="primary">{{'room.newRoom' | translate}}</button>
</div>
