<div class="container">
  <h2>
    <a routerLink=".." translate>user.users</a> / {{user.name ? user.name : ('user.newUser' | translate) }}
  </h2>
  <form (submit)="save(form.checkValidity())" #form>
    <div>
      <mat-form-field class="inline-field">
        <input name="name" matInput [placeholder]="'common.name' | translate" [(ngModel)]="user.name" required maxlength="50">
        <mat-error *ngIf="!user.name">{{'message.enter' | translate : {field: 'common.name' | translate} }}</mat-error>
      </mat-form-field>
      <mat-form-field class="inline-field">
        <input name="surname" matInput [placeholder]="'person.lastName' | translate" [(ngModel)]="user.surname" required maxlength="50">
        <mat-error *ngIf="!user.name">{{'message.enter' | translate : {field: 'person.lastName' | translate} }}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="inline-field">
        <input matInput name="email" [placeholder]="'person.email' | translate" required email [formControl]="emailControl" [maxlength]="50">
        <mat-error *ngIf="!emailControl.valid">{{emailControl.hasError('required') ? ('message.enter' | translate : {field: 'person.email' | translate} ) : ('message.invalidEmail' | translate )  }}</mat-error>
      </mat-form-field>
      <mat-form-field class="inline-field">
        <input matInput name="createTime" [placeholder]="'common.creationTime' | translate" disabled [value]="user.createTime | formatDate : 'dd.MM.yyyy HH:mm'">
      </mat-form-field>
      <mat-checkbox name="active" class="inline-field" [(ngModel)]="user.active">{{'common.active' | translate}}</mat-checkbox>
    </div>
    <mat-form-field class="full-width">
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let role of user.roles" [removable]="true" (removed)="user.removeRole(role.id)">
          {{role.name}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input
          [placeholder]="'user.newRole' | translate"
          [formControl]="roleCtrl"
          [matAutocomplete]="auto"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        >
      </mat-chip-list>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="roleSelected($event)">
        <mat-option *ngFor="let role of filteredRoles | async" [value]="role.name">
          {{role.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <button class="new" mat-stroked-button color="primary" type="submit">{{'common.save' | translate}}</button>
    <button *ngIf="user.id" class="new" mat-stroked-button color="warn" (click)="delete()" type="button">{{'common.delete' | translate}}</button>
  </form>
</div>
