<div class="container">
  <h4 translate>review.reviews</h4>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" [placeholder]="'common.filter' | translate">
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>{{'common.no' | translate}}</th>
      <td mat-cell *matCellDef="let i = index"> {{i + 1}}</td>
    </ng-container>

    <ng-container matColumnDef="like">
      <th mat-header-cell *matHeaderCellDef> {{'review.like' | translate}}</th>
      <td mat-cell *matCellDef="let element" class="like">
        <div>{{element.likeComment}}</div>
      </td>
    </ng-container>

    <ng-container matColumnDef="dislike">
      <th mat-header-cell *matHeaderCellDef> {{'review.dislike' | translate}}</th>
      <td mat-cell *matCellDef="let element" class="like">
        <div>{{element.dislikeComment}}</div>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> {{'common.actions' | translate}}</th>
      <td mat-cell *matCellDef="let element">
        <button mat-stroked-button color="primary" (click)="accept(element)">{{'common.accept' | translate}}</button>
        <button mat-stroked-button color="warn" (click)="reject(element)">{{'common.reject' | translate}}</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
