<div class="person-count">
  <ng-container *ngIf="adultCount <= 5">
    <i *ngFor="let i of adultCount | numberArray" class="fas fa-user"></i>
  </ng-container>
  <span *ngIf="adultCount > 5" style="margin-left: 10px">{{adultCount | plural : ('plural.adult' | translate) : ('plural.adults' | translate)}}</span>
  <ng-container *ngIf="childCount">
    <span> + </span>
    <ng-container *ngIf="childCount <= 5">
      <i style="font-size: 0.7em" *ngFor="let i of childCount | numberArray" class="fas fa-user"></i>
    </ng-container>
    <span *ngIf="childCount > 5">{{childCount | plural : ('plural.child' | translate) : ('plural.children' | translate)}}</span>
  </ng-container>
</div>
