div.calendar {
  text-align: center;
  margin: 10px;
  #header {
    color: #777;
    text-transform: uppercase;
    font-size: 10px;
    display: block;
    margin-bottom: 5px;
  }

  #day {
    font-size: 46px;
    font-weight: bold;
    display: block;
    line-height: 1;
  }

  #monthYear {
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    word-break: break-word;
  }

  #dayOfWeek {
    color: #737373;
    font-style: italic;
    font-family: Georgia,serif;
    line-height: 1.8;
    display: block;
  }
}
