<div class="calendar">
  <h3 id="header">{{header}}</h3>
  <div id="day">{{date | formatDate : "d"}}</div>
  <div id="monthYear">{{date | formatDate : "MMMM yyyy"}}</div>
  <div id="dayOfWeek">{{date | formatDate : "EEEE"}}</div>
</div>
