<div class="container">
  <mat-sidenav-container class="example-container">
    <mat-sidenav opened mode="side" class="example-sidenav">
      <mat-nav-list>
        <a mat-list-item routerLink="./settings" routerLinkActive="active">{{'user.settings' | translate}}</a>
        <a mat-list-item routerLink="./changePassword" routerLinkActive="active">{{'user.changePassword' | translate}}</a>
        <a mat-list-item routerLink="./reservations" routerLinkActive="active">{{'reservation.reservations' | translate}}</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="container">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
