.example-container {
  top: 0;
  bottom: 0;
  left: 0;
}

.example-sidenav {
  display: flex;
  width: 200px;
  border-right: 1px solid #ccc;
}

.container {
  min-height: 200px;
  width: auto;
}

.active {
  background: rgba(0, 0, 0, .04);
  color: #b71c1c;
}

