<div class="hotel-list-item">
  <div class="row">
    <div class="col-md-auto hotel-carousel">
      <ngb-carousel #carousel *ngIf="hotel.photos" [showNavigationIndicators]="false" data-interval="false">
        <ng-template ngbSlide *ngFor="let photo of hotel.photos; let index = index">
          <a routerLink="/hotel/{{hotel.id}}"><img [src]="photo.getFullUrl"></a>
        </ng-template>
      </ngb-carousel>
    </div>
    <div class="col hotel-info-col">
      <div class="row hotel-info-row">
        <div class="col-md-auto hotel-main-info">
          <div class="hotel-header">
            <a routerLink="/hotel/{{hotel.id}}" class="hotel-name">{{hotel | translateField : 'name'}}</a>
            <div class="star">
              <i class="fas fa-star" *ngFor="let i of hotel.star | numberArray"></i>
            </div>
          </div>
          <div class="hotel-address">
            <a *ngIf="!readonly" (click)="selectMap()">
              <span>{{hotel.address | address}} - </span>
              <span translate>hotelList.showOnMap</span>
            </a>
            <span *ngIf="readonly">{{hotel.address | address}}</span>
          </div>
        </div>
        <div class="col hotel-review" *ngIf="hotel.evaluation">
          <a class="hotel-eval-text" routerLink="/hotel/{{hotel.id}}">{{hotel.evaluation.score | reviewScoreLevel : 7 | async}}</a>
          <a class="hotel-eval-count" routerLink="/hotel/{{hotel.id}}">
            <span>{{hotel.evaluation.reviewCount | number}} </span>
            <span translate>hotelList.comments</span>
          </a>
        </div>
        <app-score class="col-md-auto" *ngIf="hotel.evaluation" [score]="hotel.evaluation.score"></app-score>
      </div>
      <div class="recommended-rooms" *ngIf="showPrice">
        <ng-container *ngIf="hotel.recommendedRooms">
          <div class="well recommended-info" translate
               [translateParams]="{guestsCount: (hotelSearchQuery.adultCount | plural : ('plural.adult' | translate) : ('plural.adults' | translate)) +
             (hotelSearchQuery.childCount ? (', ' + hotelSearchQuery.childCount | plural : ('plural.child' | translate) : ('plural.children' | translate)) : '')}">message.guestCountRecommended</div>
          <div class="row align-items-center">
            <div class="col-9 col">
              <div class="row room-info align-items-center" *ngFor="let alternative of hotel.recommendedRooms.alternatives">
                <app-person-count class="col-3 col" [adultCount]="alternative.maxAdult" [childCount]="alternative.maxChild"></app-person-count>
                <div class="col">{{hotel.recommendedRooms.getAlternativeCount(alternative.id)}} X {{hotel.findRoomById(alternative.roomId) | translateField : 'name'}}</div>
                <div class="col-3 col rooms-left" translate [translateParams]="{count: hotel.findRoomById(alternative.roomId).availableCount | plural : ('plural.room' | translate) : ('plural.rooms' | translate)}">message.roomsLeft</div>
              </div>
            </div>
            <div class="col">
              <div class="price-for-night-info" *ngIf="hotelSearchQuery.nightCount > 1" translate [translateParams]="{nightCount: hotelSearchQuery.nightCount}">message.priceForNight</div>
              <div class="room-price">{{hotel.recommendedRooms.totalPrice | price | async}}</div>
            </div>
          </div>
        </ng-container>
        <div class="well recommended-info" *ngIf="!hotel.recommendedRooms" translate>message.noAvailableRoom</div>
      </div>
      <div *ngIf="!readonly" class="show-rooms-btn">
        <button *ngIf="!showPrice" class="show-prices" mat-stroked-button color="primary" [ngbPopover]="'message.showPrices' | translate"
                placement="right" triggers="hover">
          {{'hotelList.showPrices' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>
