.hotel-carousel {
  padding: 0;
}

.hotel-main-info {
  padding: 0;
  padding-left: 5px;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 5px;
}

.hotel-list-item {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
  margin: 5px 0;
  box-shadow: 0 0 10px lightgray;
}

.hotel-review{
  text-align: right;
  color: #003580;
}

.hotel-info-row {
  margin-bottom: 20px;
}

.room-price {
  text-align: right;
}

.hotel-info-row {
  position: relative;
}

.show-rooms-btn {
  text-align: right;
}

.hotel-name {
  font-weight: bold;
  vertical-align: middle;
  font-size: 20px;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.hotel-address {
  color: #07c;
}

.hotel-address a {
  cursor: pointer;
  text-decoration: underline;
}

a.hotel-name:hover {
  color: orange;
}

.room-price {
  color: #0ab21b;
  font-size: 20px;
  line-height: 28px;
  font-weight: bold;
}

.hotel-eval-text {
  line-height: 1.2;
  font-size: 16px;
  font-weight: bold;
  display: block;
}

.col {
  padding: 5px !important;
}

.row {
  padding: 0 !important;
  margin: 0 !important;
}

.hotel-header {
  display: flex;
}

app-score {
  font-size: 22px;
}

.show-prices {
  margin: 5px 0;
}

.recommended-rooms {
  font-size: 1.5em;
  color: midnightblue;
}

.room-info {
  font-size: 0.8em;
}

.recommended-info {
  margin-top: 10px;
  background-color:#e3e3e3;
  font-size: 0.6em;
}

.rooms-left {
  color: firebrick;
  font-size: 0.8em;
  text-align: right;
}

.price-for-night-info {
  font-size: 0.6em;
  text-align: right;
  color: green;
  font-weight: bold;
}
