<h4 translate>category.facilities</h4>
<table *ngIf="dataSource.data.length > 0" mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef>{{'common.no' | translate}}</th>
    <td mat-cell *matCellDef="let i = index"> {{i + 1}}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'common.name' | translate}}</th>
    <td mat-cell *matCellDef="let element">
      <span class="fake-link" (click)="openModal(element)">{{element.get('name', languageId)}}</span>
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="url">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'category.iconUrl' | translate}}</th>
    <td mat-cell *matCellDef="let element">
      <span>{{element.url}}</span>
    </td>
  </ng-container>

  <!-- Description Column -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'common.description' | translate}}</th>
    <td mat-cell *matCellDef="let element">
      <span>{{element.get('description', languageId)}}</span>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<div class="well" style="text-align: center" *ngIf="dataSource.data.length === 0">{{'category.noFacilities' | translate}}</div>
<button *ngIf="category.id"  mat-stroked-button color="primary" class="new" (click)="openModal()">{{'category.newFacility' | translate}}</button>
