<h1 *ngIf="title" mat-dialog-title>{{title}}</h1>
<div mat-dialog-content>
  <p>{{content}}</p>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button color="warn" [mat-dialog-close]="DialogOption.YES">{{'common.yes' | translate}}</button>
  <button style="margin-left: 10px" mat-stroked-button [mat-dialog-close]="DialogOption.CANCEL" cdkFocusInitial>{{'common.cancel' | translate}}</button>
</div>
